


@media (min-width: 768px) and (max-width: 1400px){


	.top-navigation{
		.nav-container{

			padding: 0 20px;
		}

	}


	.home-section {

		padding: 150px 0;



		.home-title{
			font-size: 60px

		}

		.home-sub-title{
			font-size: 20px;
		}

		.home-proxies-btn {
  		    padding: 20px 45px;
    		font-size: 15px;
		}


		.home-img{
			position: relative;
			max-width: 500px;
			margin-top: 40px;
		}
	}

	.compare-section {
		padding: 70px 100px;

		.container{
			margin-top: 200px;
		}
	}

	.benefits-section {
    	padding: 75px 0px;

    	.section-title {
    	font-size: 30px;
    	}

    	.benefit-item {
    		padding: 15px;
		}


	}

	.solution-section{

		.section-title{
			font-size: 43px;
		}
		.section-text {
    		font-size: 17px;
		}

		.card-header{

			.accordion-toggle:after {
				font-size: 15px;
			}

		}

	} 

	.location-section{
		padding: 75px 0;

		.country-location {

			.item-header{
				padding: 10px 25px;
			}

			.item-sub-header {
			    padding: 9px 25px;
			    font-size: 10px;
			}

			.item-body{
				padding: 25px;
				padding-bottom: 5px;

				h5{
					font-size: 15px;
				}
				h6{
					margin-bottom: 10px;
				}

				ul{
					margin-left: 33px;
					li{

						&:first-child:before{
							width: 35px;
							padding: 6px;
							top: -6px;
							left: -52px;
						}
						padding: 0;

					}
				}
			}

			.item-footer{
				grid-template-columns: 1fr;
				padding: 15px;
				padding-top: 0;


				button{
					grid-row: 2;
				}

			}
		}


		.section-title{
			font-size: 29px
		}

		p{
			font-size: 12px;
		}

		ul{
			width: 100%;

			li{
				margin-top: 15px;

				a{
					font-size: 11px;
					padding: 5px 19px;
					margin-right: 0px;
				}
			}
		}
	}

	.pricing-section {
		padding: 100px 10px;

		ul{
			li{
				a{
					padding: 30px 40px;
				}
			}
		}
	}


	.footer-section {
		padding: 100px 0;

		ul{
			li{
				margin-bottom: 25px;
			}
		}
	}
}