
//----------------------------------------------------------------------------------------------------------------------
//  320 - 575     START
//----------------------------------------------------------------------------------------------------------------------
@media (min-width: 320px) and (max-width: 575px) {


	// homepage start   			+++
	.top-navigation{

		padding: 0;
		.nav-container {
			padding: 0 5%;
		}
	}

	.home-section{
		.padding-box{
			padding: 100px 0;
		}

		.home-title{
			font-size: 30px;
		}

		.home-sub-title{
			font-size: 15px;
			letter-spacing: 0;
		}

		.home-proxies-btn {
			padding: 20px 25px;
			font-size: 16px;
		}

		.home-pop{
			display: none;
		}
	}

	.compare-section{
		//display: none;
		padding: 100px 0;

		.section-title{
			font-size: 25px;
		}

		.container{
			margin-top: 0;
		}


		.lined{

			div{
				padding: 40px;
			}

			&::before{
				content: "";
				position: absolute;
				width: 165%;
				height: 200%;
				top: -50%;
				left: -28%;
				background: url("../img/line.png") center no-repeat;
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}
	}

	.benefits-section {
		padding: 50px 0;

		.section-title {
			font-size: 20px;
			margin-bottom: 0;
		}

		img{
			margin-bottom: 20px;
		}

		.benefit-item {
			padding: 25px 10px;

			margin: 0 auto;


			.benefit-title{
				font-size: 20px;
			}

			&:first-child{
				margin-top: 40px;
			}
		}
	}

	.solution-section{
		padding: 50px 0;

		.section-title{
			margin-top: 0;
			font-size: 27px;
		}

		.section-text{
			font-size: 16px;
		}

		.card{

			.card-header{
				padding: 0;

				button{
					img{
						margin-right: 0 !important;
					}

					span{
						font-size: 14px;
					}
				}
			}

			.card-body{
				padding: 15px !important;
			}
		}
	}

	.location-section{
		.padding-box {

			&:before{
				-webkit-background-size: 143%;
				background-size: 143%;
				background-position: -100px 42%;
			}


			.padding-box-xxl{
				padding: 0;
			}
		}

		.section-title{
			font-size: 27px;
		}

		p{
			font-size: 12px;
		}


		ul.location-countries-list-pop{
			width: 80%;
			margin-left: 25px !important;

			li:first-child:before {
				left: -47px !important;
			}


		}

		.item-footer{
			grid-template-columns: 1fr !important;
			span{
				grid-row: 1 ;
			}

			button{
				grid-row: 2;
				padding: 10px	!important;

			}
		}
		ul.location-countries-list{
			width: 70%;


			li{

				a{
					padding: 10px 10px;
					font-size: 12px;
				}

				button{

					.cities-popup{
						width: 300%;
						padding: 8px 0;
						top: 100%;
						left: 0;
						margin-top: 20px;


						ul{

							width: 100%;
							margin-top: 0;
							padding: 10px;
							li{

								padding: 3px 10px;
								font-size: 14px;

								margin-right: 5px;
								-webkit-border-radius: 15px;
								-moz-border-radius: 15px;
								border-radius: 15px;
								border: 0;
							}
						}

						&::after{
							left: 20%;

						}
					}


					.cities-popup-show{
						visibility: visible;
						//-webkit-animation: fadeIn 1s;
						//animation: fadeIn 1s;
					}
				}

			}
		}
	}

	.join-section{
		padding: 50px 0;
		margin-top: 50px;

		 .field {

			 input{
				 width: 90%;
			 }
		 }


		.section-title{
			font-size: 20px;
		}

		.register{

			label{
				font-size: 14px;
			}

			.field input.active{
				font-size: 14px;
			}

			button{
				font-size: 0;

				width: 25%;

				img{
					margin-left: 16px;
				}
			}
		}
	}

	.pricing-section{
		padding: 50px 0;

		.section-title{
			font-size: 25px;
			margin-bottom: 10px;
		}

		.btn-try-free{
			padding: 12px 31px;
		}

		.price-nav{

			margin-bottom: 35px;
			ul{
				text-align: center;

				grid-template-columns: 1fr;
				grid-row-gap: 20px;
			}
		}
	}

	.support-section{

		.section-title{
			margin-top: 50px;
			font-size: 25px;
		}

		.section-text{
			font-size: 13px;
			margin-bottom: 50px;
		}

		.item-big{
			margin: 0 auto;
		}

		.item{
			margin-top: 0;
		}



		.contact-right-block{

			padding: 50px 0;
		}
	}

	.footer-section{
		padding: 50px 0;
		font-size: 13px;


		.copyright{
			margin-top: 20px;
			font-size: 10px;
		}
	}
	//homepage end     			   ---

	//faq page start     		   +++
	.faq-welcome-section{
		padding: 150px 0 20px;


		.section-title{
			font-size: 30px;
		}
	}

	.faq-content-section{
		padding: 50px 0 50px;


		.grid-container{
			grid-template-columns: 1fr 1fr 1fr;
			width: 100%;
			grid-template-areas: "a b c"
			                     "d b e";

			margin-bottom: 40px;

			button{
				div{
					display: none;
				}


				img{
					width: 60%;
				}
			}


			button:nth-child(1){
				grid-area: a;
			}
			button:nth-child(2){
				grid-area: d;
			}
			button:nth-child(3){
				grid-area: b;
			}
			button:nth-child(4){
				grid-area: c;
			}
			button:nth-child(5){
				grid-area: e;
			}
		}


		.question{

			.question-btn{

				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				padding: 15px 10px;

				span{
					margin-top: 8px;
					font-size: 13px;
				}


				&:after{
					width: 30px;
					height: 30px;
					background-size: 90%;
				}
			}

			.question-btn.collapsed{
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
			}

			.question-body{
				.text{

					padding: 17px;
					font-size: 12px;
				}

				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}


	}
	//faq page end      		   ---


	//affiliate page start         +++
	.affiliate-welcome-section{
		padding: 150px 0 65px;

		.section-title{
			font-size: 30px;
		}
	}

	.affiliate-content-section {
		.starter-banner {
			.banner-left{
				padding: 10px;

				border-radius: 10px;

				margin-bottom: 20px;

				h4{
					font-size: 20px;
				}

				ul{
					display: grid;
					grid-template-columns: 1fr ;
					width: 100%;

					li{

						.price{
							font-size: 30px;
						}

						.price-detail{
							font-size: 13px;
							font-weight: bold;
						}
					}
				}
			}


			.banner-right{

				padding: 10px 0 50px 10px;

				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;

				ul{
					margin-bottom: 20px;
					li{
						font-size: 12px;

						img{
							width: 25px;
							margin-right: 5px;
						}
					}
				}

				.sign-up-now{
					padding: 10px 20px;
					font-size: 15px;
				}
			}
		}
	}


	.faq-subsection{
		padding: 20px 0;

		.section-title{
			font-size: 28px;
		}

		.section-subtitle{
			font-size: 12px;
		}


		.question{

			.question-btn{

				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				padding: 15px 10px;

				span{
					margin-top: 8px;
					font-size: 13px;
				}


				&:after{
					width: 30px;
					height: 30px;
					background-size: 90%;
				}
			}

			.question-btn.collapsed{
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
			}

			.question-body{
				.text{

					padding: 17px;
					font-size: 12px;
				}

				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
	//affiliate page end           ---

	//pricing page start
	.pricing-welcome-section{

		padding: 150px 0 40px;

		.section-title{

			font-size: 30px;
		}
	}

	.pricing-section-content{


		.progress-form {

			margin: 0;
			padding: 0;
			.progressbar-container {

				.form-item{



					.duration{

						.duration-item{
							.select-duration-container{
								.checkmark{
									top: 170px;
								}
							}
						}
					}

					.total{
						.left{
							padding: 40px 0;
						}
						.right{
							span.total-money{
								font-size: 30px;
							}
						}
					}
				}

				grid-template-columns: 1fr;
				grid-row-gap: 40px;
				.progressbar-item{
					display: none;

				}
			}
		}


		.prices {
			.price {
				.price-body {
					.select-container {
						width: 85%;
					}
				}

			}
		}



	}
	//pricing page end


	//404 start

	.page-not-found-content{

		h2{
			font-size: 18px;

			span{
				font-size: 10rem;
			}
		}

	}
	//404 end


	//virgin ips page start                        +++

	.virgin-content-section{
		padding: 40px 0;

		.section-title{
			font-size: 25px;
		}

		h5{
			font-size: 14px;
		}

		.virgin-pricing{
			margin-top: 0;

			.virgin-pricing-location{
				font-size: 20px;

			}

			h2.virgin-pricing-prices{
				font-size: 15px;
				line-height: 40px;
			}
		}


		.virgin-benefit{

			grid-template-columns: 1fr;

			.virgin-benefit-item{
				margin: 15px;
				padding: 20px 20px;

			}
		}
	}
	//virgin ips page end                         ---


	//vpn page start                              +++
	.vpn-welcome-section{
		.vpn-welcome-title{
			font-size: 50px;

		}
	}

	.vpn-sub-welcome-section{
		padding: 100px ;
	}

	.vpn-features-section{
		padding: 100px 0;
		.section-title{
			font-size: 40px;
			margin: 0;
		}

		.circle{
			font-size: 40px;
		}

		.vpn-feature{
			padding: 15px;
		}
	}

	.vpn-why-choose-section{
		padding: 50px 20px;

		.section-title{
			font-size: 30px;
		}

		.choose-benefit-title{
			font-size: 20px;
		}
	}

	.vpn-get-started-section{
		padding: 50px 30px;
		.section-title{
			font-size: 35px;
		}

		.section-text{
			padding: 0;
			margin-top: 50px;
			font-size: 15px;
		}

		.vpn-btn-get-started{
			font-size: 16px;
		}
	}
	//vpn page end                                ---


    //windows vps page start                      +++

    .windows-vps-content-section{
      padding: 50px 15px;
      .section-title{
        font-size: 25px;
      }
    }

    .windows-vps-features-section{
      padding: 50px 15px;

      .section-title{
        font-size: 25px;
      }

      .windows-vps-benefits-container{
        grid-template-columns: 1fr;
      }
    }

    .windows-vps-pricing-section{
      .pricing-nav-tabs{
        a{
          font-size: 20px;
        }
      }
    }
    //windows vps page end                        ---

  //dedicated server page start              +++

  .dedicated-server-content-section{

    padding: 80px 15px ;

    .section-title{
      font-size: 22px;
    }
  }

  .dedicated-server-benefit-section{


    padding: 80px 15px;


    .section-title{
      font-size: 28px;
    }

    .benefits-container{
      grid-template-columns: 1fr ;

      .benefit-item{
        padding: 30px 0;
      }
    }
  }

  .dedicated-server-pricing-section{
    padding: 80px 15px ;

    .section-title{
      font-size: 20px;
    }

    .dedicated-pricing-btn{
      font-size: 15px;
      padding: 10px 10px;
    }

  }
  //dedicated server page end                ---
}

//----------------------------------------------------------------------------------------------------------------------
//  320 - 575     END
//----------------------------------------------------------------------------------------------------------------------



//----------------------------------------------------------------------------------------------------------------------
//  576 - 767     START
//----------------------------------------------------------------------------------------------------------------------
@media (min-width: 576px) and (max-width: 767px) {


	//homepage start               +++
	.top-navigation{
		padding: 0;

		.nav-container{
			padding: 0 3%;

		}
	}

	.home-section {
		.home-title{
			font-size: 30px;
		}

		.home-sub-title{
			font-size: 20px;
		}
		.home-proxies-btn{
			font-size: 20px;
		}
		.home-pop{
			.home-pop-body{
				padding: 10px;
				.pop-benefit{
					grid-template-columns: 1fr 1fr;
				}


				.pop-table{
					top: 20px;

					ul{
						li{
							padding: 10px;
						}
					}
				}
			}
		}
	}

	.compare-section{
		padding: 80px 0;

		.container{
			margin-top: 80px;
		}

		.section-title{
			font-size: 25px;
		}
	}

	.benefits-section {
		padding: 50px 0;

		.section-title {
			font-size: 25px;
			margin-bottom: 0;
		}

		img{
			margin-bottom: 20px;
		}

		.benefit-item {
			padding: 50px 100px;

			margin: 0 auto;

			&:last-child{
				border: 0;
			}
		}
	}

	.solution-section{
		padding: 50px 0;

		.section-title{
			font-size: 35px;
		}


		.section-text{
			font-weight: 300;
			font-size: 19px;
			margin-bottom: 70px;
		}
	}

	.location-section{
		.padding-box {

			.padding-box-xxl{
				padding: 0;
			}

			&:before{
				-webkit-background-size: 1038%;
				background-size: 108%;
				background-position: -100px 65%;
			}
			.section-title{
				font-size: 35px;
			}

		}


	}

	.join-section{
		margin-top: 40px;
		padding: 50px 0;

		.section-title{
			font-size: 23px;
		}

		.register{
			margin-top: 25px;
		}

		.field{
			label{

				font-size: 15px;
			}

			button{
				font-size: 13px;
			}
		}
	}

	.pricing-section{

		padding: 70px 0;

		.section-title{
			font-size: 30px;
		}

		.prices{
			.price{

				min-height: 250px;

				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;

				.price-body{
					padding: 20px 0;
				}

				.price-title{
					font-size: 15px;
				}

				.price-sub-title{
					font-size: 15px;
				}

				.price-value{
					font-size: 35px;
				}

				.price-recommended{
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;

					font-size: 10px;
					margin-bottom: 10px;

				}
			}
		}


		.price-nav{
			margin-bottom: 30px;
			padding: 0;

			ul{
				grid-column-gap: 10px;

				li{
					text-align: center;
					a{
						padding: 0;

						img{
							float: none;
							margin: 0;
						}

						span{
							display: none;
						}
					}
				}
			}
		}
	}

	.support-section{


		.section-title{
			margin-top: 70px;
		}

		.section-text{
			margin-bottom: 0;
		}

		.item-big{
			margin: 0 auto;
		}

		.item{
			margin-top: 0;
		}

		.contact-right-block{
			padding: 165px 0;
		}
	}

	.footer-section {
		padding: 75px 0;

		.copyright{
			margin-top: 20px;
		}
	}
	//homepage end 				   ---
	
	//faq page start               +++
	.faq-welcome-section{
		//padding: 150px 0 10px;
		
		.section-title{
			font-size: 30px;
		}

      h5{
        font-size: 20px !important;
      }
	}

	.faq-content-section{
		padding: 50px 0 70px;
		.grid-container{
			
			button{
				img{
				}

				i{
					font-size: 25px;
					margin-bottom: 10px;
				}
				
				div{
					font-size: 10px;
				}
			}
		}

		.question{



			.question-btn{

				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				padding: 20px 20px;

				span{
					margin-top: 10px;
					font-size: 15px;
				}
			}

			.question-btn.collapsed{
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
			}

			.question-body{
				.text{

					padding: 20px;
				}

				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
	//faq page end                 ---

	//affiliate page start         +++
	.affiliate-welcome-section{
		//padding: 150px 0 40px;

		.section-title{
			font-size: 35px;
		}
	}

	.affiliate-content-section {
		.starter-banner {
			.banner-left{
				padding: 10px;

				border-radius: 10px;

				margin-bottom: 10px;

				h4{
					font-size: 20px;
				}

				ul{
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					width: 100%;

					li{
						.price{
							font-size: 30px;
						}

						.price-detail{
							font-size: 13px;
							font-weight: bold;
						}
					}
				}
			}


			.banner-right{
				padding: 10px 0 50px 10px;

				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;

				ul{
					margin-bottom: 40px;
					li{
						font-size: 15px;

						img{
							margin-right: 5px;
						}
					}
				}
			}
		}
	}

	.faq-subsection{
		padding: 70px 0;

		.section-title{
			font-size: 33px;
		}

		.section-subtitle{
			font-size: 17px;
		}


		.question{

			.question-btn{

				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				padding: 20px 20px;

				span{
					margin-top: 10px;
					font-size: 17px;
				}
			}

			.question-btn.collapsed{
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
			}

			.question-body{
				.text{

					padding: 20px;
				}

				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
	//affiliate page end           ---


	//pricing page start
	.pricing-welcome-section{

		//padding: 180px 0 40px;

		.section-title{

			font-size: 41px;
		}
	}

	.pricing-section-content{
		.progress-form {

			margin: 0;
			padding: 0;
			.progressbar-container {

				grid-template-columns: 1fr;
				grid-row-gap: 40px;
				.progressbar-item{
					display: none;

				}
			}
		}
	}
	//pricing page end


	//virgin ips page start
	.virgin-content-section{
		.virgin-benefit{
			grid-template-columns: 1fr;
		}
	}
	//virgin ips page end


	//vpn page start       +++
	.vpn-welcome-section{
		.vpn-welcome-title{
			font-size: 42px;

		}
	}

	.vpn-sub-welcome-section{
		padding: 100px ;
	}

	.vpn-features-section{
		padding: 100px 0;
		.section-title{
			font-size: 40px;
			margin: 0;
		}

		.circle{
			font-size: 40px;
		}
	}

	.vpn-why-choose-section{
		padding: 100px 50px;

		.choose-benefit-title{
			font-size: 20px;
		}
	}

	.vpn-get-started-section{
		.section-title{
			font-size: 40px;
		}

		.section-text{
			padding: 0;
			margin-top: 50px;
		}
	}
	//vpn page end                                     ---

	//windows vps page start                           +++
	.windows-vps-content-section{
	  padding: 50px 15px;
	  .section-title{
		font-size: 25px;
	  }
	}

	.windows-vps-features-section{
	  padding: 50px 15px;

	  .section-title{
		font-size: 25px;
	  }

	  .windows-vps-benefits-container{
		grid-template-columns: 1fr ;
	  }
	}

	.windows-vps-pricing-section{
	  .pricing-nav-tabs{
		a{
		  font-size: 20px;
		}
	  }
	}
	//windows vps page end                             ---

  //dedicated server page start                        +++
  .dedicated-server-benefit-section{
    padding: 80px 15px;
    .benefits-container{
      grid-template-columns: 1fr ;
    }
  }


  .dedicated-server-pricing-section{
    padding: 80px 15px ;

    .section-title{
      font-size: 30px;
    }

    .dedicated-pricing-btn{
      font-size: 20px;
      padding: 15px 20px;
    }

  }
  //dedicated server page end                          ---


}
//----------------------------------------------------------------------------------------------------------------------
//  576 - 767     END
//----------------------------------------------------------------------------------------------------------------------




//----------------------------------------------------------------------------------------------------------------------
//  768 - 991     START
//----------------------------------------------------------------------------------------------------------------------
@media (min-width: 768px) and (max-width: 991px) {

	// homepage start          +++
	.top-navigation{
		padding: 0;

		.nav-container{
			padding: 0 3%;

		}
	}

	.home-section{

		.home-title{
			font-size: 42px;
		}

		.home-sub-title{
			font-size: 22px;
		}

		.home-proxies-btn {
			padding: 16px 55px;
			font-size: 23px;
		}

		.home-pop{
			.home-pop-body{
				padding: 20px 20px;

				.pop-table{
					top: 35px;

					ul{
						margin-top: 10px;
						li{
							padding: 10px;
						}
					}


				}
			}


		}
	}

	.compare-section{
		.container{
			margin-top: 40px;
		}

		.section-title{
			font-size: 26px;
		}
	}

	.benefits-section{
		padding: 70px 0;

		.section-title{
			font-size: 25px;
		}

		.benefit-item {
			padding: 40px 30px 20px;
		}

		img{
			margin-bottom: 10px;
		}
	}

	.solution-section {
		padding: 51px 92px;

		.section-title{
			font-size: 35px;

		}

		.section-text{
			font-size: 20px;
		}
	}

	.location-section{

		.section-title{
			font-size: 35px;
		}

		.padding-box{
			padding: 0 0 50px;


			&:before{
				-webkit-background-size: 100%;
				background-size: 100%;
				background-position: -100px 70%;
			}
		}

		ul{

			li{

				button{


					.cities-popup{

						ul{
							padding: 5px;

							li{
								margin-top: 5px;
								font-size: 10px;
							}
						}
					}

				}
			}
		}


	}

	.pricing-section {
		padding: 70px 20px;

		.section-title{
			font-size: 27px;
		}

		.price-nav {
			padding: 0;
			margin-bottom: 50px;

			ul{

				li{

					a{
						padding: 0px 10px 0px 10px;
						font-size: 16px;


						img{
							margin-right: 5px;
						}
					}
				}
			}
		}

		.prices {
			.price {
				min-height: 280px;

				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;

				.price-recommended{
					padding: 7px 0;
					font-size: 12px;
					border-top-right-radius: 10px;
					border-top-left-radius: 10px;
				}


				.price-body{
					padding: 40px 0;
				}
			}
		}

	}

	.support-section{

		.item-big{
			margin: 0 auto;
		}

		.contact-right-block{

			padding: 165px 0;
		}


		.section-title{
			margin-top: 70px;
		}

		.section-text{
			margin-bottom: 0;
		}


		.item{
			margin-top: 0;
		}

	}

	.footer-section{
		padding: 75px 0;
	}
	//homepage end            ---

	//faq page start          +++
 	.faq-welcome-section{
	    //padding: 150px 0 25px;


	    h1{
		  font-size: 40px;
	    }
    }

    .faq-content-section{
    	padding: 50px 0 80px;
    	
    	.grid-container{
    		
    		button{
    			font-size: 11px;
    		}
    	}

    	.question{
    		
    		.question-btn{
    			
    			padding: 20px 30px;
    			
    			span{
    				margin-top: 8px;
    			}
    		}

    		.question-body{
    			.text{
    				padding: 30px;
    			}
    		}
    	}
    }
    //faq page end             ---

	//affiliate page start     +++
	.affiliate-welcome-section{
		//padding: 180px 0 50px;

		.section-title{
			font-size: 42px;
		}
	}

	.affiliate-content-section {
		.starter-banner {
			.banner-left{
				padding: 30px;

				ul{
					li{
						.price{
							font-size: 30px;
						}
					}
				}
			}


			.banner-right{
				padding: 30px;

				ul{
					margin-bottom: 40px;
					li{
						font-size: 12px;
					}
				}
			}
		}
	}

	.faq-subsection{

		padding: 75px 0;
		.section-title{
			font-size: 40px;
		}
	}
	//affiliate page end       ---


	//pricing page start
	.pricing-welcome-section{

		//padding: 200px 0 40px;

		.section-title{

			font-size: 30px;
		}
	}


	.pricing-section-content {
		padding: 50px 20px;

		.prices {
			.price {
				.price-body {
					padding: 20px;

					.price-title{
						font-size: 20px;
					}

					.price-value{
						font-size: 40px;
					}
					.select-container {
						width: 90%;
					}
				}

				.price-recommended {
					margin-bottom: 0;
				}
			}
		}


		.progress-form {
			margin: 0;
			padding-top: 0px;
			margin-bottom: 50px;


			.progressbar-container{

				.progressbar-item{
					span{
						width: 80px;
						padding: 20px;
					}
				}
				.form-item{
					padding: 0 20px;

					h5{
						font-size: 18px;
					}

					p{
						font-size: 10px;
					}

					.quantity{
						padding: 15px 10px;
						font-size: 14px;

						input{
							margin-left: 5px;
						}

						.input-tooltip{


							width: 150%;
							left: 0px;

							font-size: 12px;

							&:after{
								left: 35%;
							}


						}
					}

					.duration{
						.duration-item{

							.discount{
								font-size: 11px;
							}

							.select-duration-container{
								padding: 10px 10px 60px;

								.select-text{
									font-size: 40px !important;
								}

								.checkmark{
									top: 77%;
									left: 36%;
								}
							}
						}
					}

					.total{
						.left{

							span{
								font-size: 25px;

							}
							padding: 40px 20px;
						}

						.right{

							span.total-money{
								font-size: 30px;
							}
						}
					}
					.complete-order-btn{
						font-size: 15px;

						i{
							margin-left: 0;
						}
					}
				}
			}

		}

	}
	//pricing page end

	//vpn page start       +++
	.vpn-welcome-section{
		.vpn-welcome-title{
			font-size: 42px;

		}
	}

	.vpn-sub-welcome-section{
		padding: 100px ;
	}

	.vpn-features-section{
		padding: 100px 0;
		.section-title{
			font-size: 45px;
			margin: 0;
		}

		.circle{
			font-size: 40px;
		}
	}

	.vpn-why-choose-section{
		padding: 100px 50px;

		.choose-benefit-title{
			font-size: 20px;
		}
	}
	//vpn page end                  ---


  //windows vps page start                      +++

  .windows-vps-content-section{
    padding: 50px 15px;
    .section-title{
      font-size: 25px;
    }
  }

  .windows-vps-features-section{
    padding: 50px 15px;

    .section-title{
      font-size: 25px;
    }

    .windows-vps-benefits-container{
      grid-template-columns: 1fr 1fr;

      .windows-vps-benefit-item {

        &:nth-child(2n){
          color: black;
          background-color: transparent;
        }

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(5){
          color: white;
          background-color: #141526;
        }
      }
    }
  }

  .windows-vps-pricing-section{
    .pricing-nav-tabs{
      a{
        font-size: 20px;
      }
    }
  }
  //windows vps page end                        ---

  //dedicated server page start              +++
  .dedicated-server-benefit-section{
    .benefits-container{
      grid-template-columns: 1fr 1fr;
    }
  }
  //dedicated server page end                ---


}
//----------------------------------------------------------------------------------------------------------------------
//  768 - 991     END
//----------------------------------------------------------------------------------------------------------------------




//----------------------------------------------------------------------------------------------------------------------
//  992 - 1200     START
//----------------------------------------------------------------------------------------------------------------------
@media (min-width: 992px) and (max-width: 1200px){

	  //----------------------------------------------------------------------------------------------------------------
	  // home page start
	.top-navigation{

		.nav-container{
			ul{
			 	li{
			 		margin-right: 0 !important;
			 	}
			}   
		}
	} 

	.top-navigation{

		.nav-container{
			padding: 0 10px;

			ul{
				li{
					margin-right: 20px;
				}
			}
		}


		.top-menu{

			ul{

				li{

					a{
						font-size: 15px;
					}

					button{
						//width: 85px;
					}
				}
			}
		}
	}

	.home-section{
		.padding-box{
			padding: 100px 0  0;
		}

		.home-title{
			font-size: 42px;
		}

		.home-sub-title{
			font-size: 20px;
		}

		.home-proxies-btn{
			padding: 20px 50px;
			font-size: 20px;
			//margin-bottom: 50px;
		}

		.home-pop{


			.home-pop-body{

				padding: 15px 25px 0;


				.pop-table{
					top: 10px;
				}
			}
		}
	}

	.compare-section{
		padding: 75px;
		.container{
			margin-top: 100px;
		}

		.section-title{
			font-size: 30px;
		}
	}

	.benefits-section{
		padding: 100px 10px;


		.section-title{
			font-size: 30px;
			margin-bottom: 30px;
		}

		.benefit-item{
			padding: 20px;

			img{
				margin-bottom: 15px;
			}

			.benefit-title{
				font-size: 20px;
				letter-spacing: 0;
				margin-bottom: 10px;
			}
		}
	}

	.solution-section{
		padding: 60px 0px;

      .section-title{

        font-size: 35px;
        margin-top: 30px;
      }

      .section-text{
        font-size: 17px;
      }
	}

	.location-section{

		.padding-box{

			&:before{
				-webkit-background-size: 85%;
				background-size: 85%;
				-ms-background-position-x: -166px;
				background-position-x: -166px;
			}
		}

		.country-location {
			

			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;


			.item-header{

				border-top-left-radius: 10px;
				border-top-right-radius: 10px;

				padding: 10px 10px;
				font-size: 14px	;
			}

			.item-sub-header {
				padding: 9px 10px;
				font-size: 9px;
			}

			.item-body{
				padding: 10px;
				padding-bottom: 5px;

				h5{
					font-size: 12px;
				}
				h6{
					font-size: 10px;
					margin-bottom: 5px;
				}

				ul{
					margin-left: 33px;
					li{



						font-size: 11px;
						padding: 0;

						&:first-child:before{
							width: 30px;
							padding: 6px;
							top: -6px;
							left: -38px;
						}

					}
				}
			}

			.item-footer{
				grid-template-columns: 1fr;
				padding: 15px;
				padding-top: 0;


				button{
					padding: 5px;
					grid-row: 2;
				}

			}
		}


		.section-title{
			font-size: 30px
		}

		p{
			font-size: 12px;
		}

		ul{
			width: 70%;

			li{
				margin-top: 10px;

				a{
					font-size: 11px;
					padding: 5px 19px;
					margin-right: 0px;
				}

				button{
					font-size: 11px;
					padding: 3px 15px;

					.cities-popup{

						ul{
							padding: 5px;

							li{
								margin-top: 5px;
								font-size: 10px;
							}
						}
					}
				}
			}
		}
	}

	.join-section{
		padding: 100px 0;
	}

	.pricing-section{
		padding: 75px 50px;

		.section-title40px{
			font-size: 30px;
			margin-bottom: 20px;
		}

		.btn-try-free{
			font-size: 17px;
			padding: 13px 35px;
		}

      .price-nav{
        margin-bottom: 50px;
      }

        ul{

          li{

            a{

              font-size: 17px;
              padding: 0px 0 0 20px !important;

            }
          }
        }
	}

	.footer-section{
		padding: 75px 0;


		ul{

			li{
				margin-bottom: 20px;
			}
		}

		.copyright{
			margin-top: 33px;
		}
	}
	//home page end

	//FAQ page start     +++
	.faq-welcome-section{
		//padding: 150px 0 40px;
			

		  h1{
			  font-size: 40px;
		  }
	}
	//FAQ page end       ---

	//Affiliate page start            +++
	.affiliate-welcome-section{
	  	//padding: 200px 0 50px;


   		h1 {
	 		font-size: 40px;

		}
	}

    .affiliate-content-section {
		.starter-banner{
		  	.banner-left{
		  		padding: 40px 30px 50px;
		  	}

		  	.banner-right{
		  		padding: 35px 70px 0;
		  	}
		} 
  	}

  	.faq-subsection{
  		padding: 50px 0;
  	}
	//Affiliate page end             ---


	//pricing page start             +++
	.pricing-welcome-section{

		//padding: 200px 0 40px;

		.section-title{

			font-size: 40px;
		}
	}

	.pricing-section-content{
		padding: 50px 20px;

		.prices{
			.price{
				.price-body{
					.select-container{
						width: 75%;
					}
				}

				.price-recommended{
					margin-bottom: 0;
				}
			}
		}

		.progress-form {
			margin: 0;
			padding-top: 30px;


			.progressbar-container{
				.form-item{
					padding: 0 20px;

					h5{
						font-size: 20px;
					}

					p{
						font-size: 14px;
					}

					.quantity{
						padding: 15px 10px;
						font-size: 13px;

						input{
							margin-left: 5px;
						}

						.input-tooltip{


							width: 100%;
							font-size: 11px;


						}
					}

					.duration{
						.duration-item{

							.discount{
								font-size: 18px;
							}

							.select-duration-container{
								padding: 10px 10px 60px;

								.select-text{
									font-size: 33px !important;
								}

								.checkmark{
									top: 77%;
									left: 36%;
								}
							}
						}
					}

					.total{
						.left{
							padding: 40px 35px;
						}
					}
					.complete-order-btn{
						font-size: 15px;
					}
				}
			}

		}
	}
	//pricing page end              ---


	//vpn page start       +++
	.vpn-welcome-section{
		.vpn-welcome-title{
			font-size: 42px;

		}
	}

	.vpn-sub-welcome-section{
		padding: 100px ;
	}

	.vpn-features-section{
		padding: 100px 0;
		.section-title{
			font-size: 40px;
			margin-left: 250px;
		}

		.circle{
			font-size: 50px;
		}
	}

	.vpn-why-choose-section{
		padding: 100px 50px;
	}
	//vpn page end                  ---
}

//----------------------------------------------------------------------------------------------------------------------
//  992 - 1200     END
//----------------------------------------------------------------------------------------------------------------------



//----------------------------------------------------------------------------------------------------------------------
//  1200 - 1400     START
//----------------------------------------------------------------------------------------------------------------------
@media (min-width: 1200px) and (max-width: 1400px){


	.top-navigation{
		.nav-container{

			padding: 0 20px;
		}

	}


	.home-section {

		.padding-box{
			padding: 100px 0 0px;
		}

		.home-title{
			font-size: 42px

		}

		.home-sub-title{
			font-size: 20px;
		}

		.home-proxies-btn {
  		    padding: 20px 45px;
    		font-size: 15px;
		}


		.home-img{
			position: absolute;
			max-width: 500px;
			margin-top: 70px;
			left: 29%;
		}
	}

	.compare-section {
		padding: 70px 100px;

		.section-title {
			font-size: 30px;
		}

		.container{
			margin-top: 150px;
		}
	}

	.benefits-section {
    	padding: 75px 0px;

    	.section-title {
    	font-size: 30px;
    	}

    	.benefit-item {
    		padding: 15px;

			.benefit-title{
				font-size: 20px;
				margin-bottom: 15px;
			}
		}


	}

	.solution-section{
		padding: 100px 0;

		.section-title{
			font-size: 35px;
		}
		.section-text {
    		font-size: 17px;
		}

		.card-header{

			.accordion-toggle:after {
				font-size: 15px;
			}

		}

	} 

	.location-section{

		.padding-box{

			&:before {
				background-position: -160px center;
			}
		}

		.padding-box-xxl{
			padding: 25px 0;
		}


      	.country-location {


        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;


        .item-header{

          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          padding: 10px 10px;
          font-size: 14px	;
        }

        .item-sub-header {
          padding: 9px 10px;
          font-size: 9px;
        }

        .item-body{
          padding: 10px;
          padding-bottom: 5px;

          h5{
            font-size: 12px;
          }
          h6{
            font-size: 10px;
            margin-bottom: 5px;
          }

          ul{
            margin-left: 33px;
            li{



              font-size: 11px;
              padding: 0;

              &:first-child:before{
                width: 30px;
                padding: 6px;
                top: -6px;
                left: -38px;
              }

            }
          }
        }

        .item-footer{
          grid-template-columns: 1fr;
          padding: 15px;
          padding-top: 0;


          button{
            padding: 5px;
            grid-row: 2;
          }

        }
      }


      	.section-title{
			font-size: 30px
		}

		p{
			font-size: 12px;
		}

		ul{
			width: 100%;

			li{
				margin-top: 10px;

				a{
					font-size: 11px;
					padding: 5px 19px;
					margin-right: 0px;
				}

				button{
					font-size: 11px;
					padding: 3px 15px;


					.cities-popup{

						ul{
							padding: 5px;

							li{
								margin-top: 5px;
								font-size: 10px;
							}
						}
					}
				}
			}
		}
	}

	.pricing-section {
		padding: 75px 10px;

		.section-title{
			font-size: 35px;
		}

		ul{
			li{
				a{
					padding: 30px 40px;
					
				}
			}
		}

		.price-nav{
			margin-top: 0;
			ul{
				
				li{
					a{
						font-size: 17px;
					}
				}
			}
		}

		.prices{
			margin-top: 0;
		}
	}

	.footer-section {
		padding: 100px 0;

		ul{
			li{
				margin-bottom: 25px;
			}
		}
	}

	//affiliate page start
	.affiliate-welcome-section{
		//padding: 150px 0 50px ;

		h1{
			font-size: 40px;
		}



	}

	.faq-subsection{
		padding: 50px 0;
	}
	//affiliate page end
	
	//faq page start
	.faq-welcome-section{
		//padding: 150px 0 30px;
		
		.section-title{
			font-size: 40px;
		}

      h5{
        font-size: 25px !important;
      }


	}
	//faq page end

	//pricing page start
	.pricing-welcome-section{

		//padding: 150px 0 40px;

		.section-title{

			font-size: 40px;
		}
	}

	.pricing-section-content {
		.price-nav {
			margin-bottom: 50px;
		}

		.select-container {
			font-size: 15px;
			.select-text {
				font-size: 15px;
			}
		}

		.progress-form {
			margin: 0 40px;
			padding-top: 0;

			.progressbar-container {
				.form-item {
					padding: 0 20px;

					h5 {
						font-size: 20px;
					}

					p {
						font-size: 14px;
					}

					.quantity {
						padding: 15px 10px;
						font-size: 13px;

						input {
							margin-left: 5px;
						}

						.input-tooltip {

							width: 100%;
							font-size: 12px;

						}

					}

					.duration {
						.duration-item {

							.select-duration-container {
								padding: 10px 10px 45px;

								.select-text {
									font-size: 33px !important;
								}

								.checkmark {
									top: 77%;
									left: 36%;
								}
							}
						}
					}
				}
			}
		}
	}
	//pricing page end


	//vpn page start       +++
	.vpn-welcome-section{
		.vpn-welcome-title{
			font-size: 42px;

		}
	}

	.vpn-sub-welcome-section{
		padding: 100px ;
	}

	.vpn-features-section{
		padding: 100px 0;
		.section-title{
			font-size: 50px;
			margin-left: 300px;
		}
	}


	.vpn-why-choose-section{
		padding: 100px 50px;
	}
	//vpn page end                  ---
}
//----------------------------------------------------------------------------------------------------------------------
//  1200 - 1400     END
//----------------------------------------------------------------------------------------------------------------------



//----------------------------------------------------------------------------------------------------------------------
//  1400 - 1800     START
//----------------------------------------------------------------------------------------------------------------------
@media (min-width: 1400px) and (max-width: 1800px){

	//homepage start                +++
	.top-navigation{
		.nav-container {
			padding: 0 7%;
		}
	}

	.home-section{

		.home-title{
			font-size: 42px

		}

		.home-sub-title{
			font-size: 20px;
		}

		.home-proxies-btn {
			padding: 20px 45px;
			font-size: 15px;
		}


		.home-img{
			position: relative;
			max-width: 700px;
			margin-top: 100px;
		}
	}

	.benefits-section{

		padding: 100px 0;

		.section-title {
			font-size: 28px;
		}

		.benefit-item{
			padding: 50px;
		}
	}

	.solution-section{
		padding: 100px 150px;
	}

	.location-section{


		.padding-box{
			&:before{
				background-position-x: -166px;
			}

		}

		.country-location {
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          
			.item-header{
				font-size: 13px;
				padding: 10px 15px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}

			.item-sub-header{
				font-size: 10px;
				padding: 10px 15px;
			}

			.item-body{

				padding: 15px;
                padding-bottom: 0;

				h5{
					font-size: 13px;

					margin-bottom: 0;
				}

				h6{
					margin-bottom: 0;
				}

				ul{
					margin: 0 0 0 27px;

					li{

						&:first-child:before {
							width: 30px;
							padding: 5px;
							top: -5px;
							left: -38px;
						}
						padding: 0;
						font-size: 13px;
						margin-top: 15px;

					}
				}
			}

			.item-footer{
				padding: 10px;

              grid-template-columns: 1fr;

                button{
                  padding: 5px;
                }

				span{
                  grid-row: 1/2;
                  margin-bottom: 5px;
					padding: 0;
				}
			}
		}

		.section-title{
			font-size: 33px;
		}

		p{
			font-size: 13px;
		}

		ul{
			width: 100%;

			li{

				a{
					font-size: 14px;
				}
			}
		}
	}

	.pricing-section{
		padding: 100px 50px;
	}
	//homepage end                 ---

	//pricing page start           +++
	.pricing-section-content{
		.prices {
			.price,
			.price.recommended{
				.price-footer{
					margin: 0 auto;
					width: 80%;
				}
			}



		}
	}

	//pricing page start                     +++
	.pricing-welcome-section{


		.section-title{

			font-size: 50px;
		}
	}

	.pricing-section-content{
		.progress-form{
			margin: 0 40px;
			padding-top: 30px;

			.progressbar-container{
				.form-item{
					padding: 0 20px;

					h5{
						font-size: 20px;
					}

					p{
						font-size: 14px;
					}

					.quantity{
						padding: 15px 10px;
						font-size: 13px;

						input{
							margin-left: 5px;
						}
					}

					.duration{
						.duration-item{

							.select-duration-container{
								padding: 10px 10px 45px;

								.select-text{
									font-size: 33px !important;
								}

								.checkmark{
									top: 77%;
									left: 36%;
								}
							}
						}
					}
				}
			}
		}
	}
	//pricing page end              ---

	//vpn page start                +++

	.vpn-welcome-section{
		.vpn-welcome-title{
			font-size: 42px;

		}
	}
	//vpn page end                  ---
}

//----------------------------------------------------------------------------------------------------------------------
//  1400 - 1800     END
//----------------------------------------------------------------------------------------------------------------------
@media (min-width: 1800px) {


	.solution-section{
		.padding-box{
			padding: 0 12%;
		}
	}

	.benefits-section{

		padding: 80px 200px;

		.benefit-item{
			padding: 50px;
		}
	}

}

@media (min-width: 2500px) {
	.container-fluid{
		max-width: 1800px;
		padding: 0 !important;
	}


	.home-section{
		&:before{

			background-size: 25%;
		}
	}

	.benefits-section{

		.benefit-item{
			padding: 80px;
		}
	}

	.location-section{
		.padding-box:before{
			background-position: 0% center;
		}
	}

}