@media (min-width: 320px) and (max-width: 575px) {

	.top-navigation{

		padding: 0;
		.nav-container {
			padding: 0 5%;
		}
	}

	.home-section{
		.padding-box{
			padding: 100px 0;
		}

		.home-title{
			font-size: 41px;
		}

		.home-sub-title{
			font-size: 17px;
			letter-spacing: 0;
		}

		.home-proxies-btn {
			padding: 20px 25px;
			font-size: 16px;
		}

		.home-img{
			display: none;
		}
	}

	.compare-section{
		display: none;
	}


	.benefits-section {
		padding: 50px 0;

		.section-title {
			font-size: 19px;
			margin-bottom: 0;
		}

		img{
			margin-bottom: 20px;
		}

		.benefit-item {
			padding: 50px 0px;

			border-bottom: 5px solid #eeee;
			margin: 0 auto;

			&:last-child{
				border: 0;
			}
		}
	}

	.solution-section{
		padding: 50px 0;

		.section-title{
			margin-top: 0;
			font-size: 40px;
		}

		.section-text{
			font-size: 16px;
		}

		.card{

			.card-header{
				padding: 0;

				button{
					img{
						margin-right: 0 !important;
					}

					span{
						font-size: 14px;
					}
				}
			}

			.card-body{
				padding: 15px !important;
			}
		}
	}

	.location-section{
		.padding-box {
			padding: 40px 0;
		}

		.section-title{
			font-size: 27px;
		}

		p{
			font-size: 10px;
		}


		ul.location-countries-list-pop{
			width: 100%;
			margin-left: 25px !important;

			li:first-child:before {
				left: -47px !important;
			}


		}

		.item-footer{
			grid-template-columns: 1fr !important;
			span{
				grid-row: 1 ;
			}

			button{
				grid-row: 2;
				padding: 10px	!important;

			}
		}
		ul.location-countries-list{
			width: 100%;


			li{

				a{
					padding: 10px 10px;
					font-size: 12px;
				}
			}
		}
	}

	.join-section{
		.register{

			label{
				font-size: 14px;
			}

			.field input.active{
				font-size: 14px;
			}

			button{
				font-size: 0;

				width: 25%;

				img{
					margin-left: 16px;
				}
			}
		}
	}

	.pricing-section{
		padding: 50px 0;

		.section-title{
			font-size: 24px;
			margin-bottom: 10px;
		}

		.btn-try-free{
			padding: 12px 31px;
		}

		.price-nav{

			margin-bottom: 35px;
			ul{

				grid-template-columns: 1fr;
				grid-row-gap: 20px;
			}
		}
	}

	.support-section{

		.section-title{
			margin-top: 50px;
		}

		.section-text{
			font-size: 13px;
			margin-bottom: 50px;
		}

		.item-big{
			margin: 0 auto;
		}

		.item{
			margin-top: 0;
		}



		.contact-right-block{

			padding: 50px 0;
		}
	}


	.footer-section{
		padding: 50px 0;
		font-size: 13px;


		.copyright{
			margin-top: 20px;
			font-size: 10px;
		}
	}

}

@media (min-width: 576px) and (max-width: 767px) {

	.home-section {
		.home-title{
			font-size: 55px;
		}

		.home-sub-title{
			font-size: 20px;
		}
		.home-proxies-btn{
			font-size: 20px;
		}
	}

	.compare-section{
		padding: 100px 0;
	}

	.benefits-section {
		padding: 50px 0;

		.section-title {
			font-size: 30px;
			margin-bottom: 0;
		}

		img{
			margin-bottom: 20px;
		}

		.benefit-item {
			padding: 75px 50px;

			border-bottom: 5px solid #eeee;
			margin: 0 auto;

			&:last-child{
				border: 0;
			}
		}
	}


	.solution-section{
		padding: 50px 0;

		.section-title{
			font-size: 40px;
		}


		.section-text{
			font-weight: 300;
			font-size: 19px;
			margin-bottom: 70px;
		}
	}

	.location-section{
		.padding-box {
			padding: 100px 0;
		}

		&:before{
			-webkit-background-size: 103%;
			background-size: 103%;
			background-position: -152px 88%;
		}
	}

	.join-section{
		padding: 50px 0;

		.section-title{
			font-size: 23px;
		}

		.register{
			margin-top: 25px;
		}

		.field{
			label{

				font-size: 15px;
			}

			button{
				font-size: 13px;
			}
		}
	}

	.pricing-section{

		padding: 70px 0;

		.section-title{
			font-size: 40px;
		}

		.prices{
			.price{

				min-height: 250px;


				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;

				.price-body{
					padding: 20px 0;
				}

				.price-title{
					font-size: 20px;
				}

				.price-sub-title{
					font-size: 15px;
				}

				.price-value{
					font-size: 35px;
				}

				.price-recommended{
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;

					font-size: 10px;
					margin-bottom: 10px;

				}
			}
		}


		.price-nav{
			margin-bottom: 30px;
			padding: 0;

			ul{
				grid-column-gap: 10px;

				li{
					text-align: center;
					a{
						padding: 0;

						img{
							float: none;
							margin: 0;
						}

						span{
							display: none;
						}
					}
				}
			}
		}
	}

	.support-section{


		.section-title{
			margin-top: 70px;
		}

		.section-text{
			margin-bottom: 0;
		}

		.item-big{
			margin: 0 auto;
		}

		.item{
			margin-top: 0;
		}



		.contact-right-block{

			padding: 165px 0;
		}
	}

	.footer-section {
		padding: 75px 0;

		.copyright{
			margin-top: 20px;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {


	.home-section{

		.home-title{
			font-size: 50px;
		}

		.home-sub-title{
			font-size: 22px;
		}

		.home-proxies-btn {
			padding: 16px 55px;
			font-size: 23px;
		}
	}

	.benefits-section{
		padding: 70px 0;

		.section-title{
			font-size: 35px;
		}

		.benefit-item {
			padding: 0 30px 40px;
		}

		img{
			margin-bottom: 10px;
		}
	}

	.solution-section {
		padding: 51px 92px;
	}

	.location-section{
		&:before{
			-webkit-background-size: 88%;
			background-size: 88%;
			background-position: -152px 88%;
		}

	}
	.pricing-section {
		padding: 70px 20px;

		.section-title{
			font-size: 27px;
		}

		.price-nav {
			padding: 0;
			margin-bottom: 50px;

			ul{

				li{

					a{
						padding: 20px 10px 20px 15px;
						font-size: 16px;
					}
				}
			}
		}

		.prices {
			.price {
				min-height: 280px;

				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;

				.price-recommended{
					padding: 7px 0;
					font-size: 12px;
					border-top-right-radius: 10px;
					border-top-left-radius: 10px;
				}


				.price-body{
					padding: 40px 0;
				}
			}
		}

	}

	.support-section{

		.item-big{
			margin: 0 auto;
		}

		.contact-right-block{

			padding: 165px 0;
		}


		.section-title{
			margin-top: 70px;
		}

		.section-text{
			margin-bottom: 0;
		}


		.item{
			margin-top: 0;
		}

	}

	.footer-section{
		padding: 75px 0;
	}


  .faq-welcome-section{
	  padding: 150px 0 50px;


	  h1{
		  font-size: 40px;
	  }
  }
  }

@media (min-width: 992px) and (max-width: 1200px){

	  //----------------------------------------------------------------------------------------------------------------
	  // home page start
	.top-navigation{

		.nav-container{
			padding: 0 10px;

			ul{
				li{
					margin-right: 20px;
				}
			}
		}


		.top-menu{

			ul{

				li{

					a{
						font-size: 15px;
					}

					button{
						width: 85px;
					}
				}
			}
		}
	}

	.home-section{
		.padding-box{
			padding: 170px 0 ;
		}

		.home-title{
			font-size: 55px;
		}

		.home-sub-title{
			font-size: 20px;
		}

		.home-proxies-btn{
			padding: 20px 50px;
			font-size: 20PX;
			//margin-bottom: 50px;
		}

		.home-img{
			margin-top: 100px;
			max-width: 500px;
		}
	}

	.compare-section{
		.container{
			margin-top: 200px;
		}
	}

	.benefits-section{
		padding: 100px 10px;


		.section-title{
			font-size: 25px;
			margin-bottom: 30px;
		}

		.benefit-item{
			padding: 20px;

			img{
				margin-bottom: 15px;
			}

			.benefit-title{
				font-size: 20px;
				letter-spacng: 0;
				margin-bottom: 10px;
			}
		}
	}

	.solution-section{
		padding: 60px 150px;

      .section-title{
        font-size: 40px;
        margin-top: 0;
      }

      .section-text{
        font-size: 17px;
      }
	}

	.location-section{
		&:before{
			-webkit-background-size: 85%;
			background-size: 85%;
			-ms-background-position-x: -166px;
			background-position-x: -166px;
		}

		.country-location {
			

			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;


			.item-header{

				border-top-left-radius: 10px;
				border-top-right-radius: 10px;

				padding: 10px 10px;
				font-size: 14px	;
			}

			.item-sub-header {
				padding: 9px 10px;
				font-size: 9px;
			}

			.item-body{
				padding: 10px;
				padding-bottom: 5px;

				h5{
					font-size: 12px;
				}
				h6{
					font-size: 10px;
					margin-bottom: 5px;
				}

				ul{
					margin-left: 33px;
					li{



						font-size: 11px;
						padding: 0;

						&:first-child:before{
							width: 30px;
							padding: 6px;
							top: -6px;
							left: -38px;
						}

					}
				}
			}

			.item-footer{
				grid-template-columns: 1fr;
				padding: 15px;
				padding-top: 0;


				button{
					padding: 5px;
					grid-row: 2;
				}

			}
		}


		.section-title{
			font-size: 30px
		}

		p{
			font-size: 12px;
		}

		ul{
			width: 100%;

			li{
				margin-top: 10px;

				a{
					font-size: 11px;
					padding: 5px 19px;
					margin-right: 0px;
				}
			}
		}
	}

	.join-section{
		padding: 75px 0;
	}

	.pricing-section{
		padding: 75px 50px;

		.section-title{
			font-size: 30px;
			margin-bottom: 20px;
		}

		.btn-try-free{
			font-size: 17px;
			padding: 13px 35px;
		}

      .price-nav{
        margin-bottom: 50px;
      }

        ul{

          li{

            a{

              font-size: 17px;
              padding: 30px 0 0 20px;

            }
          }
        }
	}

	.footer-section{
		padding: 75px 0;


		ul{

			li{
				margin-bottom: 20px;
			}
		}

		.copyright{
			margin-top: 33px;
		}
	}
	  //home page end
	  //----------------------------------------------------------------------------------------------------------------

	  .faq-welcome-section{
		  h1{
			  font-size: 50px;
		  }
	  }

	  .affiliate-welcome-section{
		  h1 {
			  font-size: 50px;

		  }
	  }
  }

@media (min-width: 1200px) and (max-width: 1400px){


	.top-navigation{
		.nav-container{

			padding: 0 20px;
		}

	}


	.home-section {

		.padding-box{
			padding: 150px 0;
		}

		.home-title{
			font-size: 60px

		}

		.home-sub-title{
			font-size: 20px;
		}

		.home-proxies-btn {
  		    padding: 20px 45px;
    		font-size: 15px;
		}


		.home-img{
			position: relative;
			max-width: 700px;
			margin-top: 40px;
		}
	}

	.compare-section {
		padding: 70px 100px;

		.container{
			margin-top: 200px;
		}
	}

	.benefits-section {
    	padding: 75px 0px;

    	.section-title {
    	font-size: 30px;
    	}

    	.benefit-item {
    		padding: 15px;
		}


	}

	.solution-section{

		.section-title{
			font-size: 43px;
		}
		.section-text {
    		font-size: 17px;
		}

		.card-header{

			.accordion-toggle:after {
				font-size: 15px;
			}

		}

	} 

	.location-section{

		&:before {
			background-position: -220px center;
		}


      .country-location {


        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;


        .item-header{

          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          padding: 10px 10px;
          font-size: 14px	;
        }

        .item-sub-header {
          padding: 9px 10px;
          font-size: 9px;
        }

        .item-body{
          padding: 10px;
          padding-bottom: 5px;

          h5{
            font-size: 12px;
          }
          h6{
            font-size: 10px;
            margin-bottom: 5px;
          }

          ul{
            margin-left: 33px;
            li{



              font-size: 11px;
              padding: 0;

              &:first-child:before{
                width: 30px;
                padding: 6px;
                top: -6px;
                left: -38px;
              }

            }
          }
        }

        .item-footer{
          grid-template-columns: 1fr;
          padding: 15px;
          padding-top: 0;


          button{
            padding: 5px;
            grid-row: 2;
          }

        }
      }


      .section-title{
			font-size: 29px
		}

		p{
			font-size: 12px;
		}

		ul{
			width: 100%;

			li{
				margin-top: 15px;

				a{
					font-size: 11px;
					padding: 5px 19px;
					margin-right: 0px;
				}
			}
		}
	}

	.pricing-section {
		padding: 100px 10px;

		ul{
			li{
				a{
					padding: 30px 40px;
				}
			}
		}
	}


	.footer-section {
		padding: 100px 0;

		ul{
			li{
				margin-bottom: 25px;
			}
		}
	}
}

@media (min-width: 1400px) and (max-width: 1800px){
	.top-navigation{
		.nav-container {
			padding: 0 7%;
		}
	}

	.home-section{

		.home-title{
			font-size: 60px

		}

		.home-sub-title{
			font-size: 20px;
		}

		.home-proxies-btn {
			padding: 20px 45px;
			font-size: 15px;
		}


		.home-img{
			position: relative;
			max-width: 700px;
			margin-top: 100px;
		}
	}

	.benefits-section{

		padding: 100px 0;

		.section-title {
			font-size: 28px;
		}
	}

	.location-section{
		&:before{
			background-position-x: -166px;
		}

		.country-location {
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          
			.item-header{
				font-size: 13px;
				padding: 10px 15px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}

			.item-sub-header{
				font-size: 10px;
				padding: 10px 15px;
			}

			.item-body{

				padding: 15px;
                padding-bottom: 0;

				h5{
					font-size: 13px;

					margin-bottom: 0;
				}

				h6{
					margin-bottom: 0;
				}

				ul{
					margin: 0 0 0 27px;

					li{

						&:first-child:before {
							width: 30px;
							padding: 5px;
							top: -5px;
							left: -38px;
						}
						padding: 0;
						font-size: 13px;
						margin-top: 15px;

					}
				}
			}

			.item-footer{
				padding: 10px;

              grid-template-columns: 1fr;

                button{
                  padding: 5px;
                }

				span{
                  grid-row: 1/2;
                  margin-bottom: 5px;
					padding: 0;
				}
			}
		}

		.section-title{
			font-size: 33px;
		}

		p{
			font-size: 13px;
		}

		ul{
			width: 100%;

			li{

				a{
					font-size: 14px;
				}
			}
		}
	}

  .pricing-section{
    padding: 100px 50px;
  }
}

