@import "preloader/preloader";
@import "core/fonts";
@import "burger-menu/sandwich";

@import "core/checkbox-pack";

@import "nav";


$lightGrey: rgba(248, 248, 248, 0.95);

$header-size: 70px;
$subheader-size: 35px;



//------------------------------------------------
.panel{
  position: fixed;
  bottom: 0;
  right: 10px;
  padding: 20px;
  width: auto;
  height: auto;
  z-index: 1000;

  a{
    padding: 20px 100px;
    background-color: #ff0026;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    font-family: MetropolisExtraBold, sans-serif;
    color: white;

    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;

    &:hover{
      background-color: #cc0023;
    }
  }
}

//------------------------------------------------



body {
  font-family: 'MetropolisRegular',Roboto, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family:  'MetropolisExtraBold',Roboto ,Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

a,
button{
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}

.top-navigation{
  padding: 35px;

  .nav-container{
    padding: 0 10%;
  }

  .toggle-menu{
    font-family: MetropolisSemiBold, sans-serif;
    outline: none;
    background-color: transparent;
    border:0;
    width: 80px;

    z-index: 2000;

  }

}


// media query for scrolling
@media (min-width: 767px) {
  .navbar {
    z-index: 10000;

    height: 75px;

    -webkit-transition: all .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: all .5s ease-in-out, padding .5s ease-in-out;
    transition: all .5s ease-in-out, padding .5s ease-in-out;
  }
}

@media (min-width: 991px) {

  .top-navigation {


    .nav-container {
      padding: 0 15%;
    }

    #sandwich{

      display: none;

    }
  }


}

.home-section{
  background: red;
  color: white;

  &:before {
    //z-index: 10;
    position: absolute;
    content: ' ';
    height: 100%;
    width: 100%;
    background: url("../img/home-ellipse.png") no-repeat  center;
    background-size: cover;
    bottom: 20%;
  }

  .padding-box{
    padding: 255px 0 0;
  }


  .home-title{
    font-weight: bold;
    font-size: 70px;
    letter-spacing: -0.9px;

  }

  .home-sub-title{
    margin-bottom: 85px;
    font-family: MetropolisRegular, sans-serif;
    letter-spacing: -0.9px;

  }
  
  .home-proxies-btn{
    padding: 30px 70px;
    font-size: 30px;
    font-weight: bold;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;

    &:hover{
      -webkit-box-shadow: 0px -2px 11px 3px #afacac;
      -moz-box-shadow: 0px -2px 11px 3px #afacac;
      box-shadow: 0px -2px 11px 3px #afacac;
    }
    
  }


  .home-pop{

    position: relative;
    bottom: -80px;

    width: 80%;
    margin: 0 auto;
    background-color: #1e1c3c;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    .home-pop-header{
      text-align: left;
      background-color: white;

      padding: 15px 30px;

      border-top-left-radius: 15px ;
      border-top-right-radius: 15px ;

      .indicator{
        
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        background-color: black;

        &-red{
          background-color: #ff8a8b;

          &:hover{
            background-color: #ff3c44;
          }
        }

        &-green{
          background-color: #9bd811;
        }

        &-orange{
          background-color: #fbaf5d;
          
        }
      }
    }

    .home-pop-body{
      padding: 20px 100px;

      .wrap{
        display: flex;
        justify-content: center;
      }


      .typewriter{

      }

      .title-ip{
        color: #3AE5EB;
        font-size: 30px;


        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid #3AE5EB; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 40px auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .08em; /* Adjust as needed */
        animation:
                typing 3.5s steps(40, end),
                blink-caret .75s step-end infinite;
      }

      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }

      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #3AE5EB; }
      }

      .pop-benefit{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        //align-items: center;
        justify-content: center;

        li{
          //text-align: left;
          font-family: MetropolisSemiBold, sans-serif;

          span{
            font-size: 60px;
            font-family: MetropolisExtraBold, sans-serif;
            font-weight: bold;
          }

        }
      }
      
      .pop-table{
        background-color: #fff;
        position: relative;
        top: 80px;

        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        color: black;
        margin: 0 auto;

        padding: 30px;

        display: grid;
        grid-template-columns: 1fr;

        ul{
          display: grid;

          grid-template-columns: 1fr 1fr 1fr;

          li{
            padding: 20px;
          }

          -webkit-transition: all 0.8s;
          -moz-transition: all 0.8s;
          -ms-transition: all 0.8s;
          -o-transition: all 0.8s;
          transition: all 0.8s;
          
          &:first-of-type{
            background-color: #eee;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;

            font-weight: bold;
          }
          
          &:hover{
            background-color: #ddd;
          }
        }

      }
    }
  }
}

.compare-section{

  color: white;
  padding: 100px;
  background: url("../img/compare-bg.png") no-repeat center center;
  background-size: cover ;
  //background-color: #16142b;

  .container{
    margin-top: 160px;
  }

  .section-title{
    font-size: 36px;
    letter-spacing: -0.9px;
    font-weight: bold;
  }

}

.benefits-section{
  padding: 100px 200px;

  .section-title{
    font-size: 36px;
    letter-spacing: -0.9px;

    font-weight: bold;
    margin-bottom: 90px;
  }

  img{
    margin-bottom: 40px;
  }

  .benefit-item{
    padding: 80px;
    -webkit-transition: all 0.6s ease;
       -moz-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
         -o-transition: all 0.6s ease;
            transition: all 0.6s ease;
    top: 0;

    .benefit-title{
      font-family: MetropolisBold, sans-serif;
      letter-spacing: -0.9px;
    }


    &:hover{

      z-index: 1200;


      box-shadow: 0px 0px 12px 6px #a4a4a4;
       position: relative;
        top: -10px;
        -webkit-transition: top 1s ease;
           -moz-transition: top 1s ease;
            -ms-transition: top 1s ease;
             -o-transition: top 1s ease;
                transition: top 1s ease;

    }



    i{
      color: red;
      font-size: 60px;
      margin-bottom: 20px;
    }
  }
}

.solution-section{
  padding: 100px 200px;
  color: white;
  background-color: #211f35;

  .section-title{
    font-family: MetropolisBold, sans-serif;
    margin-top: 50px;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: -0.9px;

  }

  .section-text{
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 40px;
  }

  .section-btn{
    font-size: 20px;
    font-weight: 500;
    padding: 15px 50px;
    margin-top: 50px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  #accordion{
    font-family: MetropolisRegular, sans-serif;
    .card{
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
      border: 0;

      .card-header{
        button{
          font-family: MetropolisRegular, sans-serif;
        }

        .accordion-toggle:after {
          /* symbol for "opening" panels */
          font-family: 'MetropolisExtraBold', sans-serif;  /* essential for enabling glyphicon */
          content: "-";    /* adjust as needed, taken from bootstrap.css */
          //float: right;        /* adjust as needed */
          //text-align: right;
          color: #16cfe0;         /* adjust as needed */
          font-size: 20px;
        }

        .accordion-toggle.collapsed:after {
          /* symbol for "collapsed" panels */
          content: "+";    /* adjust as needed, taken from bootstrap.css */
        }

        button{

          padding: .375rem .75rem;
          font-size: 1rem;
          border: 0;
          background: transparent;
          width: 97%;
          text-align: left;
          color: black;
          outline: none;



          &:hover{
            //outline: none;
            //background-color: black;
          }

          span{
            display: inline-block;
            width: 80%;
          }
        }
      }

      
      
      .card-body{
        padding: 35px;
        border: 0;
        background-color: #171627;

        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;

        .learn-more-link{
          display: block;
          margin-top: 15px;
          color: #16cee0;
          font-weight: 700;
          
          -webkit-transition: all 0.7s ease;
             -moz-transition: all 0.7s ease;
              -ms-transition: all 0.7s ease;
               -o-transition: all 0.7s ease;
                  transition: all 0.7s ease;
          
          &:hover{
            color: #5def0e;
          }
        }
      }
    }
  }
}

.location-section {
  background-color:  #229ed5;
  //padding: 50px 0;

  .padding-box {
    padding: 50px 0;

    &:before {
      content: ' ';
      height: 100%;
      width: 100%;
      position: absolute;
      background: url("../img/map-world-vector-bg.png") no-repeat 25% center, #229ed5;
      //-webkit-background-size: cover;
      //background-size: cover;
    }


    .padding-box-xxl{

      padding: 50px 0;
    }
  }


  //padding: 150px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0086c9+0,207cca+0,2989d8+50,229ed5+100 */
  //background:url("../img/Locations-bg.png") no-repeat ,#229ed5;
  //-webkit-background-size: cover;
  //background-size: 77%;
  position: relative;
  //overflow: hidden;
  color: white;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .country-location {
    color: black;
    margin-top: 100px;
    background-color: #fff;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    .item-header {
      color: white;
      font-size: 20px;
      font-family: MetropolisExtraBold, sans-serif;
      padding: 10px 25px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: #75d701;

    }

    .item-sub-header {
      font-family: MetropolisBold, sans-serif;
      padding: 10px 25px;
      background-color: #56a902;
      color: white;
      font-size: 12px;

    }

    .item-body {
      padding: 25px;
      padding-bottom: 0;

      h5 {
        font-family: MetropolisBold, sans-serif;
        margin-bottom: 10px;
        font-size: 15px;
        letter-spacing: 0;
        margin-bottom: 0;
      }

      h6 {
        font-family: MetropolisRegular, sans-serif;
        font-size: 12px;
        letter-spacing: 0px;
        color: #4a4a4a;
        letter-spacing: 0;
        margin-bottom: 0;
      }

      ul {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;

        li {
          position: relative;
        }

        li:first-child {
          &:before {
            content: "5";
            position: absolute;
            text-align: center;
            width: 40px;
            padding: 8px;

            color: white;
            top: -7px;
            left: -57px;

            font-family: MetropolisBold, sans-serif;
            background-color: #56a902;

            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
        }
      }
    }

    .item-footer {
      padding: 25px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-family: MetropolisBold, sans-serif;

      button {
        height: auto;
        cursor: pointer;
        color: white;
        outline: none;
        font-size: 10px;
        padding: 0;
        border: 0;
        background-color: #56a902;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
      }
      span {
        color: #56a902;
        vertical-align: middle;
        text-align: center;
        padding: 10px;
        font-size: 10px;
      }

    }
  }

  .section-title {
    font-family: MetropolisBold, sans-serif;
    font-size: 45px;
    letter-spacing: -0.9px;

  }

  p {
    font-size: 16px;
    font-family: MetropolisSemiBold, sans-serif;
  }

  ul {
    margin-top: 20px;
    width: 70%;
    li {
      display: inline-block;
      margin-top: 20px;

      a {
        color: black;
        font-family: MetropolisSemiBold, sans-serif;
        background-color: white;
        padding: 10px 30px;

        margin-right: 5px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;

        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;

        &:hover{
          color: white;
          background-color: red;
        }

        &.btn-more {
          background-color: red;
          color: white;

          &:hover{
            background-color: #b80000;
          }
        }
      }

    }
  }
}

.join-section{
  padding: 100px 0px;
  color: white;
  background-color: #005abb;

  .section-title{
    font-family: MetropolisSemiBold, sans-serif;
    font-size: 30px;
    letter-spacing: -.9px;
  }


  a {
    &:hover,
    &:visited,
    &:hover,
    &:link {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .register {
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .field {
    width: 100%;
    height: 70px;
    position: relative;
    input {
      outline: none;
      width: 100%;
      border-radius: 35px;
      height: 70px;
      border: 0;
      padding: 20px 0 0 40px;
      font-size: 0;
      background: #1566BB;
      transition: background .3s ease;
      color: #ffffff;

      span{
        color: red;
      }

      &:focus {
        font-size: 23px;

        &::selection {
          background: rgba(188, 232, 255, 0.5);

        }
      }
      &.active {
        background: #1566BB;
        font-size: 23px;
      }
    }
    input,
    button {
      position: absolute;
      height: 70px;
      cursor: pointer;

    }
    
    button {
      background: rgba(0, 0, 0, 0.3);
      background: white;
      right: 0;
      border: 0;
      width: 50%;
      border-radius: 35px;
      font-size: 20px;
      font-weight: bold;
      color: red;
      transition:
              width .3s ease,
              background .3s ease,
              opacity .3s ease;
      pointer-events: none;
      &.active {

        font-weight: bold;
        background: white;
        opacity: 1;
        pointer-events: auto;
        &:hover {
          background: white;
        }
      }
      &.full {
        width: 100%;
      }
    }
    input:focus + label {
      font-size: 10px;
      transform: translate(16px, 11px);
      color: rgba(255, 255, 255, 0.7);
    }
    label {
      padding-left: 20px;

        font-size: 20px;
        font-family: "MetropolisRegular";
        color: rgb( 255, 255, 255 );



      position: absolute;
      color: rgba(255, 255, 255, 1);
      transform: translate(16px, 20px);
      transition:
              transform .3s ease,
              font-size .3s ease,
              color .3s .1s ease;
      &.active {
        font-size: 20px;
        transform: translate(16px, 11px);
        color: rgba(255, 255, 255, 0.7);
      }
    }
    input:focus + label + button {
      opacity: 1;
    }
  }
}

.pricing-section{
  padding: 100px 0px;

  .section-title{
    font-size: 45px;
    letter-spacing: -0.9px;
  }
  
  .btn-try-free{
    background-color: #ff1315;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-family: MetropolisBold, sans-serif;
    font-size: 18px;
    padding: 20px 40px;
    margin: 30px 0;

    &:hover{
      background-color: #d41315;
    }
  }

  .price-nav{
    padding: 0 30px;
    margin-bottom: 100px;

    ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      grid-column-gap: 20px;


      li{
        background-color: #f4f5f7;
        border-radius: 10px;
        display: inline-block;
        padding: 10px 0;

        position: relative;



        a{
          display: block;
          width: 100%;
          padding: 0px 20px 0 30px;
          font-size: 17px;
          color: #353535;
          line-height: 40px;
          font-family: MetropolisBold,sans-serif;




          img{
            float: right;
            margin-right: 15px;
          }
        }

        &:hover{
          background-color: #0155d9;

          a{
            color: white;
          }
        }


        &.active{
          background-color: #0152cc;


          a{
            color: white;


          }

          &:after, &:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;

          }

          &:after {
            //border-color: rgba(1, 82, 204, 0);
            border-top-color: #0152cc;
            border-width: 20px;
            margin-left: -20px;
          }

          &:before {

            border-width: 23px;
            margin-left: -23px;
          }
        }


      }
    }

  }


  .prices{
    margin-top: 30px;

    .price{
      min-height: 300px;
      text-align: center;
      background-color: #e5e6e8;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;

      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;

      &:hover{
        -webkit-box-shadow: 1px 1px 16px 8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 1px 1px 16px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 16px 8px rgba(0, 0, 0, 0.3);
      }



      .price-recommended{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 10px 0;
        color: white;
        font-family: MetropolisExtraBold, sans-serif;
        background-color: blue;
        margin-bottom: 20px;


      }

      .price-body{
        padding: 50px 0 ;
      }

      .price-title{
        color: #565656;
        font-family: MetropolisExtraBold, sans-serif;
        margin-bottom: 10px;
      }

      .price-sub-title{
        color: #b4b5b6;
        font-family: MetropolisBold, sans-serif;
      }

      .price-value{
        display: block;
        font-size: 40px;
        font-family: MetropolisSemiBold,sans-serif;
      }

      .learn-more-link{
        font-family: MetropolisBold, sans-serif;
        padding: 5px 20px;
        background-color: #ff1315;
        color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        
        &:hover{
          background-color: #c71315;
        }
      }
    }
  }


}

.support-section{
  background-color: #064097;
  color: white;

  .section-title{
    margin-top: 100px;
    font-family: MetropolisBlack, sans-serif;
    font-size: 30px;
  }

  .section-text{
    font-family: MetropolisRegular, sans-serif;
    font-size: 18px;
    margin-bottom: 100px;
  }

  .item-big{
    font-size: 14px;
    margin: 50px auto 0;
    width: 111px;
    padding: 15px;


    background-color: white;

    color: red;
    font-family: MetropolisExtraBold, sans-serif;

    -webkit-border-radius:17px;
    -moz-border-radius:17px;
    border-radius: 17px;

    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;

    &:hover{
      -webkit-box-shadow: -7px 12px 16px 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: -7px 12px 16px 3px rgba(0, 0, 0, 0.3);
      box-shadow: -7px 12px 16px 3px rgba(0, 0, 0, 0.3);
    }
  }

  .item{
    background-color: white;font-family: MetropolisExtraBold, sans-serif;
    font-size: 14px;
    margin-top: 50px;
    width: 85px;
    padding: 15px;
    color: black;
    margin-right: 90px;

    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;


    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;

    &:hover{
      -webkit-box-shadow: -7px 12px 16px 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: -7px 12px 16px 3px rgba(0, 0, 0, 0.3);
      box-shadow: -7px 12px 16px 3px rgba(0, 0, 0, 0.3);
    }
  }
}

.footer-section{
  padding: 150px 0;
  background-color: #0b3068;
  color: #5e89cc;
  font-family: MetropolisRegular, sans-serif;


  ul{
    a{
      color: #5e89cc;
      font-family: MetropolisRegular, sans-serif;

    }

    a.menu-header{
      font-family: MetropolisExtraBold, sans-serif;
      color: white;


    }
    li{
      margin-bottom: 30px;

      a:hover{
        text-decoration: underline;
      }
    }
  }

  .copyright{
    font-family: MetropolisRegular, sans-serif;
    margin-top: 70px;
    color: white;
  }
}

//----------------------------------------------------------------------------------------------------------------------
//    FAQ page styles start
//----------------------------------------------------------------------------------------------------------------------

.faq-welcome-section{
  color: white;
  padding: 250px 0 50px;
  background: url("../img/home-ellipse.png") no-repeat  center, red;
  -webkit-background-size: cover;
  background-size: cover;


  h1{
    font-size: 50px;
    letter-spacing: -.9px ;
    font-family: MetropolisBold,sans-serif;
  }
}

.faq-content-section{
  background-color: #ededed;
  padding: 80px 0 100px;

.show{
  display: block !important;
}

  .questions-wrap{
    position: relative;
    padding: 0 15px;

    .filterDiv{
      display: none;
      transition: display 1s !important;

    }

  }


  .grid-container{
    display: grid;
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 20% 20% 20% 20% 20%;

    
    button{
      font-family: MetropolisBold, sans-serif;
      color: #353535;
      font-size: 15px;
      background-color: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
      
      i{
        font-size: 35px;
        margin-bottom: 20px;
      }
      
      img{
        margin-bottom: 10px;
      }

      div{
        min-height: 30px;
      }

      &:hover{
        color: red;
      }

      &.active{
        color:red;
        outline: none;
        

          &:hover{
           color: #d50000 !important;
          }
      }

      &:focus{
        outline: red;
      }
    }


  }

  .grid-sizer {
    width: 100%;
  }

}


.question{
  width: 100%;
  .question-btn{

    cursor: pointer;

    span{
      margin-top: 5px;
      display: inline-block;
    }
    
    &:hover{
      background-color: #626262;
    }

    text-align: left;
    width: 100%;
    padding: 30px 50px;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

    font-family: MetropolisSemiBold, sans-serif;
    font-size: 18px;
    outline: none;
    border: 0;
    color: white;
    background-color: #474747;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }

  .question-btn.collapsed{
    background-color: #fff;
    &:hover{
      background-color: #ddd;
    }

    color: #353535;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;


  }

  .question-btn:after {
    /* symbol for "opening" panels */
    content: " ";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    //text-align: right;
    color: #eee;         /* adjust as needed */
    font-size: 20px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: url("../img/faq/minus faq@2x.png") no-repeat center;

    // -webkit-border-radius: 50%;
    // -moz-border-radius: 50%;
    // border-radius: 50%;
  }

  .question-btn.collapsed:after {
    /* symbol for "collapsed" panels */
    content: " ";    /* adjust as needed, taken from bootstrap.css */
    background: url("../img/faq/plus Faq@2x.png") no-repeat center;

  }

  .question-body{

    -webkit-box-shadow: -1px 1px 6px 0px rgba(0,0,0,.3);
    -moz-box-shadow: -1px 1px 6px 0px rgba(0,0,0,.3);
    box-shadow: -1px 1px 6px 0px rgba(0,0,0,.3);

    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .text{
      padding: 50px;
      line-height: 2;

    }
  }
}

//----------------------------------------------------------------------------------------------------------------------
//    FAQ page styles end
//----------------------------------------------------------------------------------------------------------------------


//----------------------------------------------------------------------------------------------------------------------
//    Affiliate page styles start
//----------------------------------------------------------------------------------------------------------------------
.affiliate-welcome-section{
  color: white;
  padding: 250px 0 50px;
  //background-color: red;
  background: url("../img/home-ellipse.png") no-repeat  center, url("../img/affiliate/welcome-bg.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;


  h1{
    font-size: 50px;
    font-family: MetropolisBold,sans-serif;
    letter-spacing: -0.9px;

  }
}

.affiliate-content-section{
  background-color: #ededed;

  .starter-banner{
    position: relative;
    top: -35px;



    .banner-left{
      color: white;
      background-color: #ff191c;
      padding: 50px 40px 50px;

      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;

      //border-radius: 20px;

      img{
        margin-bottom: 20px;
      }
      h4{
        font-family: MetropolisBold, sans-serif;
        font-size: 14px;
        letter-spacing: 0;
      }

      ul{

        li{
          margin-bottom: 25px;

          .price{
            font-size: 30px;
            font-family: MetropolisSemiBold, sans-serif;
          }
          .price-detail{
            font-size: 15px;
            font-family: MetropolisRegular, sans-serif;
          }
        }
      }


    }

    .banner-right{
      background-color: white;
      padding: 65px 120px;

      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;


      ul{
        text-align: left;
        margin-bottom: 60px;

        li{
          font-family: MetropolisBold, sans-serif;
          font-size: 17px;
          padding: 10px;

          img{
            margin-right: 20px;
          }
        }
      }

      .sign-up-now{
        text-align: center;

        padding: 20px 40px;
        background-color: #ff1315;

        color: white;
        font-size: 20px;
        font-family: MetropolisBold, sans-serif;

        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s;

        &:hover{
          background-color: #d61315;
        }

      }
    }
  }

}

.faq-subsection{

  background-color: #ededed;

  padding: 100px 0 ;

  .section-title{
    font-family: MetropolisBold, sans-serif;
    font-size: 45px;
    letter-spacing: -.9px;
    color: #353535;
    margin-bottom: 20px;
  }

  .section-subtitle{
    font-family: MetropolisRegular, sans-serif;
    font-size: 20px;
    color: #7e7e7e;
    letter-spacing: 0;
  }



}

.see-more-link{
  display: block;
  width: 300px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;

  font-size: 18px;
  color: #0152cc;
  font-family: MetropolisSemiBold, sans-serif;

  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;

  &:hover{
    color: red;
  }
}
//----------------------------------------------------------------------------------------------------------------------
//    Affiliate page styles end
//----------------------------------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------------------------------
//    Pricing page styles start
//----------------------------------------------------------------------------------------------------------------------
.pricing-welcome-section{
  color: white;
  padding: 250px 0 50px;
  //background-color: red;
  background: url("../img/home-ellipse.png") no-repeat  center, red;
  -webkit-background-size: cover;
  background-size: cover;


  h1{
    font-size: 50px;
    font-family: MetropolisBold,sans-serif;
    letter-spacing: -.9px;
  }
}

.pricing-section-content{
  padding: 60px 100px;


  .step-title{
    text-align: center;
    h2{

      font-size: 40px;
      font-family: MetropolisExtraBold, sans-serif;
    }

    h4{
      color: #5a5a5a;
    }
  }

  .prices{

    .price,
    .price.recommended{

      min-height: 470px;

      .price-body{

        padding-bottom: 30px;

        .price-title{
          color:#212629;
        }


        a.trial-link{

          margin-top: 50px;

          color: red;
          font-family: MetropolisBold, sans-serif;
        }
      }

      .price-footer{

        border-top: 3px solid black;
        width: 80%;
        margin: 0 auto;
        padding: 30px 0;
        text-align: left;

        font-family: MetropolisRegular, sans-serif;

        font-size: 15px ;
      }
    }
  }

  .price.recommended{
    .price-body{
      padding-top: 0;
    }
  }

  .progress-form{
    margin: 0 200px;
    padding-top: 70px;


    .progressbar-container{
      display: grid;
      grid-row-gap: 50px;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;

      justify-items: center;

      position: relative;
      .progressbar-item{
        position: relative;
        width: 100%;
        span{
          font-family: MetropolisBold, sans-serif;

          width: 100px;
          padding: 30px;
          display: inline-block;

          font-size: 30px;
          background-color: red;
          color: white;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        }


        &:after {
          content: '';
          width: 100%;
          height: 10px;
          background: red;
          position: absolute;
          left: -50%;
          top: 45%;
          z-index: -1; /*put it behind the numbers*/
        }
        &:first-child:after {
          /*connector not needed before the first step*/
          content: none;
        }
      }



      .form-item{

        h5{
          font-size: 27px;
        }

        .quantity{
          position: relative;
          background-color: blue;
          padding: 20px 20px;
          font-size: 17px;
          color: white;

          font-family: MetropolisSemiBold, sans-serif;


          border-radius: 10px;




          input{

            outline: none;
            margin-left: 20px;
            height: 50px;
            text-align: center;

            font-family: MetropolisExtraBold, sans-serif;

            border-radius: 10px;
            border:0;

          }

          .input-tooltip{
            z-index: 1000;
            visibility: hidden;
            opacity: 0;

            position: absolute;

            width: 75%;

            right: 0;
            top: 130%;

            background-color: #0001ff;
            padding: 15px;

            color: white;
            font-family: MetropolisSemiBold, sans-serif;
            font-size: 15px ;
            text-align: left;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;

            transition: all 0.5s;

            a{
              color: whitesmoke;
              text-decoration: underline;
              font-family: MetropolisBold, sans-serif;
            }

            &:after {
              bottom: 100%;
              left: 80%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(136, 183, 213, 0);
              border-bottom-color: #0001ff;
              border-width: 21px;
              margin-left: -21px;
            }

          }



          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button
          {
            -webkit-appearance: none;
            margin: 0;
          }




        }


        .duration{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-column-gap: 5px;

          .duration-item{


            .select-duration-container{
              .select-text{
                font-size: 45px !important;

              }

              .month{
                margin-top: -13px;
              }
            }

            .select-duration-container{
              display: block;
              position: relative;
              background-color: #f4f5f7;
              color: #353535;

              > span{
                display: block;
              }


              margin: 0 auto 30px;
              padding: 15px 30px 60px;


              cursor: pointer;

              font-size: 14px;

              font-family: MetropolisBold, sans-serif;
              border-radius: 10px;

              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;

              input {
                position: absolute;
                opacity: 0;
              }

              &:hover{
                input ~ .checkmark {
                  background-color: #ccc;
                }
              }

              input:checked ~ .checkmark {
                background-color: red;

                color: white;
                border: 0;
              }

              input:checked  {
                background-color: red;
              }


              /* Create a custom radio button */
              .checkmark {
                position: absolute;
                top: 142px;
                left: 40%;
                height: 25px;
                width: 25px;
                background-color: transparent;
                border: 2px solid #353535;
                border-radius: 50%;
                color: transparent;

                i{
                  margin-top: 5px;
                }
              }
            }

            .discount{
              margin-top: 13px;
              padding: 2px 5px;
              font-size: 15px;
              font-family: MetropolisExtraBold, sans-serif;
              background-color: #0152cc;
              color: white;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px;
            }
          }
        }
        
        .total{
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          background-color: blue;
          border-radius: 15px;
          font-family: MetropolisSemiBold, sans-serif;

          .left{
            padding: 40px 70px;
            background-color: #f4f5f7;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            //text-align: right;
            span{
              text-align: left;
              font-size: 30px;
            }
          }


          .right{

            display: flex;
            flex-direction: column;
            margin: auto;

            color: white;
            font-size: 20px;
            span.total-money{
              display: block;
              font-size: 40px;
            }

          }
        }

        .complete-order-btn{
          margin-top: 20px;
          width: 100%;

          background-color: #ff191c;
          color: white;
          font-family: MetropolisBold, sans-serif;

          border: 0;
          padding: 20px 0;
          outline: none;
          font-size: 20px;
          cursor: pointer;

          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;

          -webkit-transition: all 0.8s ease;
          -moz-transition: all 0.8s ease;
          -ms-transition: all 0.8s ease;
          -o-transition: all 0.8s ease;
          transition: all 0.8s ease;

          i{
            margin-left: 30px;
          }
          
          &:hover{
            background-color: #b51719;
          }

        }


        &:last-child{
          width: 100%
        }
      }
    }
  }
}



.red-bg{
  background-color: red;
}
//----------------------------------------------------------------------------------------------------------------------
//    Pricing page styles end
//----------------------------------------------------------------------------------------------------------------------



//----------------------------------------------------------------------------------------------------------------------
//    404 page styles start
//----------------------------------------------------------------------------------------------------------------------

.page-not-found-content{
  padding: 100px 0;
  text-align: center;

  h2{
    font-size: 30px;
    margin-bottom: 0px;
    span{
      font-size: 16rem;
    }
  }


  ul{

    li{
      display: inline-block;

      padding: 20px;

      a{
        font-size: 20px;
        font-family: MetropolisSemiBold, sans-serif;
        color: #8b00ee;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}


//----------------------------------------------------------------------------------------------------------------------
//    404 page styles end
//----------------------------------------------------------------------------------------------------------------------



@import "media";