@font-face {
  font-family: MetropolisRegular;
  src: url("../fonts/metropolis/Metropolis-Regular.otf") format("opentype");
}

@font-face {
  font-family: MetropolisExtraBold;
  src: url("../fonts/metropolis/Metropolis-ExtraBold.otf") format("opentype");
}


@font-face {
  font-family: MetropolisBold;
  src: url("../fonts/metropolis/Metropolis-Bold.otf") format("opentype");
}

@font-face {
  font-family: MetropolisSemiBold;
  src: url("../fonts/metropolis/Metropolis-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: MetropolisBlack;
  src: url("../fonts/metropolis/Metropolis-Black.otf") format("opentype");
}

@font-face {
  font-family:'Raleway';
  src:url('../fonts/raleway_300.woff') format('woff');
  font-weight:300;
  font-style:normal;
}
@font-face {
  font-family:'RalewaySemiBold';
  src:url('../fonts/raleway_500.woff') format('woff');
  font-weight:500;
  font-style:normal;
}
@font-face {
  font-family:'RalewayBold';
  src:url('../fonts/raleway_700.woff') format('woff');
  font-weight:bold;
  font-style:normal;
}


//FUTURA

@font-face {
  font-family: Futur;
  src: url("../fonts/futura/futur.ttf") format("truetype");
}

@font-face {
  font-family: FuturaMedium;
  src: url("../fonts/futura/FuturaMedium.ttf") format("truetype");
}

@font-face {
  font-family: FuturaBold;
  src: url("../fonts/futura/FuturaBold.ttf") format("truetype");
}

@font-face {
  font-family: FuturaLight;
  src: url("../fonts/futura/FuturaLight.ttf") format("truetype");
}