@import "fonts";

$main-red: #a80000;


$extra-bold-font: MetropolisExtraBold, sans-serif;

$main-section-title-font: MetropolisBold, sans-serif;
$section-title-font: MetropolisSemiBold, sans-serif;

$bold-font: MetropolisBold, sans-serif;

$semi-bold-font: MetropolisSemiBold, sans-serif;
$regular-font: MetropolisRegular, sans-serif;





//$extra-bold-font: RalewayBold, sans-serif;
//
//$main-section-title-font: RalewayBold, sans-serif;
//$section-title-font: RalewayBold, sans-serif;
//
//$bold-font: RalewayBold, sans-serif;
//
//$semi-bold-font: RalewayBold, sans-serif;
//$regular-font: Raleway, sans-serif;







//$extra-bold-font: FuturaBold, sans-serif;
//
//$main-section-title-font: FuturaBold, sans-serif;
//$section-title-font: MetropolisSemiBold, sans-serif;
//
//$bold-font: FuturaBold, sans-serif;
//
//$semi-bold-font: MetropolisSemiBold, sans-serif;
//$regular-font: FuturaMedium, sans-serif;