.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader-inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

@font-face {
  font-family: MetropolisRegular;
  src: url("../fonts/metropolis/Metropolis-Regular.otf") format("opentype"); }

@font-face {
  font-family: MetropolisExtraBold;
  src: url("../fonts/metropolis/Metropolis-ExtraBold.otf") format("opentype"); }

@font-face {
  font-family: MetropolisBold;
  src: url("../fonts/metropolis/Metropolis-Bold.otf") format("opentype"); }

@font-face {
  font-family: MetropolisSemiBold;
  src: url("../fonts/metropolis/Metropolis-SemiBold.otf") format("opentype"); }

@font-face {
  font-family: MetropolisBlack;
  src: url("../fonts/metropolis/Metropolis-Black.otf") format("opentype"); }

body {
  font-family: 'MetropolisRegular',Roboto, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: 'MetropolisExtraBold',Roboto ,Helvetica, Arial, sans-serif;
  letter-spacing: 1px; }

.img-responsive {
  width: 100%;
  height: auto; }

.top-navigation {
  padding: 35px; }
  .top-navigation .nav-container {
    padding: 0 20%; }
  .top-navigation button {
    font-family: MetropolisSemiBold;
    width: 80px; }
  .top-navigation a {
    font-family: MetropolisSemiBold;
    color: white; }
  .top-navigation .navbar-nav li {
    margin-right: 35px; }

.top-nav-collapse {
  padding: 5px;
  background-color: #ff1719;
  -webkit-box-shadow: 0px 10px 35px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 35px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 35px -6px rgba(0, 0, 0, 0.75); }

@media (min-width: 767px) {
  .navbar {
    height: 75px;
    -webkit-transition: all .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: all .5s ease-in-out, padding .5s ease-in-out;
    transition: all .5s ease-in-out, padding .5s ease-in-out; } }

.home-section {
  background: red;
  color: white; }
  .home-section:before {
    position: absolute;
    content: ' ';
    height: 105%;
    width: 100%;
    background: url("../img/home-ellipse.png") no-repeat center;
    background-size: cover; }
  .home-section .padding-box {
    padding: 255px 0; }
  .home-section .home-title {
    font-weight: bold;
    font-size: 80px; }
  .home-section .home-sub-title {
    margin-bottom: 85px;
    font-family: MetropolisRegular; }
  .home-section .home-proxies-btn {
    padding: 30px 70px;
    font-size: 30px;
    font-weight: bold;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px; }
  .home-section .home-img {
    margin-top: 220px;
    max-width: 1000px;
    width: 100%;
    height: auto; }

.compare-section {
  color: white;
  padding: 100px;
  background: url("../img/compare-bg.png") no-repeat center center;
  background-size: cover; }
  .compare-section .container {
    margin-top: 270px; }
  .compare-section .section-title {
    font-weight: bold; }

.benefits-section {
  padding: 100px 200px; }
  .benefits-section .section-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 90px; }
  .benefits-section img {
    margin-bottom: 40px; }
  .benefits-section .benefit-item {
    padding: 50px; }
    .benefits-section .benefit-item .benefit-title {
      font-family: MetropolisBold, sans-serif; }
    .benefits-section .benefit-item i {
      color: red;
      font-size: 60px;
      margin-bottom: 20px; }

.solution-section {
  padding: 100px 200px;
  color: white;
  background-color: #211f35; }
  .solution-section .section-title {
    font-family: MetropolisBold, sans-serif;
    margin-top: 50px;
    font-weight: bold;
    font-size: 50px; }
  .solution-section .section-text {
    font-weight: 300;
    font-size: 23px;
    margin-bottom: 40px; }
  .solution-section .section-btn {
    font-size: 20px;
    font-weight: 500;
    padding: 15px 50px;
    margin-top: 50px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
  .solution-section #accordion {
    font-family: MetropolisRegular, sans-serif; }
    .solution-section #accordion .card {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
      border: 0; }
      .solution-section #accordion .card .card-header button {
        font-family: MetropolisRegular, sans-serif; }
      .solution-section #accordion .card .card-header .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'MetropolisExtraBold', sans-serif;
        /* essential for enabling glyphicon */
        content: "-";
        /* adjust as needed, taken from bootstrap.css */
        float: right;
        /* adjust as needed */
        color: #16cfe0;
        /* adjust as needed */
        font-size: 20px; }
      .solution-section #accordion .card .card-header .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "+";
        /* adjust as needed, taken from bootstrap.css */ }
      .solution-section #accordion .card .card-header button {
        padding: .375rem .75rem;
        font-size: 1rem;
        border: 0;
        background: transparent;
        width: 100%;
        text-align: left;
        color: black; }
        .solution-section #accordion .card .card-header button i {
          font-size: 25px;
          margin-right: 20px; }
      .solution-section #accordion .card .card-body {
        padding: 35px;
        border: 0;
        background-color: #171627;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px; }
        .solution-section #accordion .card .card-body .learn-more-link {
          display: block;
          margin-top: 15px;
          color: #16cee0;
          font-weight: 700; }

.location-section {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0086c9+0,207cca+0,2989d8+50,229ed5+100 */
  position: relative;
  color: white; }
  .location-section .padding-box {
    padding: 100px 0; }
  .location-section:before {
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("../img/map-world-vector-bg.png") no-repeat center left, #229ed5; }
  .location-section img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .location-section .country-location {
    color: black;
    margin-top: 100px;
    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
    .location-section .country-location .item-header {
      color: white;
      font-size: 20px;
      font-family: MetropolisExtraBold, sans-serif;
      padding: 10px 25px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: #75d701; }
    .location-section .country-location .item-sub-header {
      font-family: MetropolisBold, sans-serif;
      padding: 10px 25px;
      background-color: #56a902;
      color: white;
      font-size: 12px; }
    .location-section .country-location .item-body {
      padding: 25px; }
      .location-section .country-location .item-body h5 {
        font-family: MetropolisBold, sans-serif;
        margin-bottom: 10px;
        font-size: 15px;
        letter-spacing: 0;
        margin-bottom: 0; }
      .location-section .country-location .item-body h6 {
        font-family: MetropolisRegular, sans-serif;
        font-size: 12px;
        letter-spacing: 0px;
        color: #4a4a4a;
        letter-spacing: 0;
        margin-bottom: 0; }
      .location-section .country-location .item-body ul {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative; }
        .location-section .country-location .item-body ul li {
          position: relative;
          padding: 10px; }
        .location-section .country-location .item-body ul li:first-child:before {
          content: "5";
          position: absolute;
          text-align: center;
          width: 50px;
          padding: 13px;
          color: white;
          top: 0;
          left: -55px;
          font-family: MetropolisBold, sans-serif;
          background-color: #56a902;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
    .location-section .country-location .item-footer {
      padding: 25px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-family: MetropolisBold, sans-serif; }
      .location-section .country-location .item-footer button {
        height: auto;
        cursor: pointer;
        color: white;
        outline: none;
        font-size: 10px;
        padding: 0;
        border: 0;
        background-color: #56a902;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px; }
      .location-section .country-location .item-footer span {
        color: #56a902;
        vertical-align: middle;
        text-align: center;
        padding: 10px;
        font-size: 10px; }
  .location-section .section-title {
    font-family: MetropolisBold, sans-serif;
    font-size: 45px; }
  .location-section p {
    font-size: 16px;
    font-family: MetropolisSemiBold, sans-serif; }
  .location-section ul {
    margin-top: 20px;
    width: 70%; }
    .location-section ul li {
      display: inline-block;
      margin-top: 20px; }
      .location-section ul li a {
        color: black;
        font-family: MetropolisSemiBold, sans-serif;
        background-color: white;
        padding: 10px 30px;
        margin-right: 5px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px; }
        .location-section ul li a.btn-more {
          background-color: red;
          color: white; }

.join-section {
  padding: 100px 0px;
  color: white;
  background-color: #005abb; }
  .join-section .section-title {
    font-family: MetropolisSemiBold, sans-serif; }
  .join-section a:hover, .join-section a:visited, .join-section a:hover, .join-section a:link {
    color: rgba(255, 255, 255, 0.6); }
  .join-section .register {
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .join-section .field {
    width: 100%;
    height: 70px;
    position: relative; }
    .join-section .field input {
      outline: none;
      width: 100%;
      border-radius: 35px;
      height: 70px;
      border: 0;
      padding: 20px 0 0 40px;
      font-size: 0;
      background: #1566BB;
      transition: background .3s ease;
      color: #ffffff; }
      .join-section .field input span {
        color: red; }
      .join-section .field input:focus {
        font-size: 23px; }
        .join-section .field input:focus::selection {
          background: rgba(188, 232, 255, 0.5); }
      .join-section .field input.active {
        background: #1566BB;
        font-size: 23px; }
    .join-section .field input,
    .join-section .field button {
      position: absolute;
      height: 70px; }
    .join-section .field button {
      background: rgba(0, 0, 0, 0.3);
      background: white;
      right: 0;
      border: 0;
      width: 50%;
      border-radius: 35px;
      font-size: 20px;
      font-weight: bold;
      color: red;
      cursor: pointer;
      transition: width .3s ease, background .3s ease, opacity .3s ease;
      pointer-events: none; }
      .join-section .field button.active {
        font-weight: bold;
        background: white;
        opacity: 1;
        pointer-events: auto; }
        .join-section .field button.active:hover {
          background: white; }
      .join-section .field button.full {
        width: 100%; }
    .join-section .field input:focus + label {
      font-size: 10px;
      transform: translate(16px, 11px);
      color: rgba(255, 255, 255, 0.7); }
    .join-section .field label {
      padding-left: 20px;
      font-size: 20px;
      font-family: "MetropolisRegular";
      color: white;
      position: absolute;
      color: white;
      transform: translate(16px, 20px);
      transition: transform .3s ease, font-size .3s ease, color .3s .1s ease; }
      .join-section .field label.active {
        font-size: 20px;
        transform: translate(16px, 11px);
        color: rgba(255, 255, 255, 0.7); }
    .join-section .field input:focus + label + button {
      opacity: 1; }

.pricing-section {
  padding: 150px 100px; }
  .pricing-section .section-title {
    font-size: 40px; }
  .pricing-section .btn-try-free {
    background-color: #ff1315;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: white;
    font-family: MetropolisBold, sans-serif;
    font-size: 18px;
    padding: 20px 40px;
    margin: 30px 0; }
  .pricing-section .price-nav {
    padding: 0 30px;
    margin-bottom: 100px; }
  .pricing-section ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px; }
    .pricing-section ul li {
      background-color: #f4f5f7;
      border-radius: 10px;
      display: inline-block;
      padding: 10px 0;
      position: relative; }
      .pricing-section ul li.active {
        background-color: #0152cc; }
        .pricing-section ul li.active a {
          color: white; }
        .pricing-section ul li.active:after, .pricing-section ul li.active:before {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none; }
        .pricing-section ul li.active:after {
          border-top-color: #0152cc;
          border-width: 20px;
          margin-left: -20px; }
        .pricing-section ul li.active:before {
          border-width: 23px;
          margin-left: -23px; }
      .pricing-section ul li a {
        width: 100%;
        padding: 30px 50px;
        font-size: 20px;
        color: #353535;
        line-height: 40px;
        font-family: MetropolisBold,sans-serif; }
        .pricing-section ul li a img {
          float: right;
          margin-right: 15px; }
  .pricing-section .prices {
    margin-top: 30px; }
    .pricing-section .prices .price {
      min-height: 300px;
      text-align: center;
      background-color: #e5e6e8;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px; }
      .pricing-section .prices .price .price-recommended {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 10px 0;
        color: white;
        font-family: MetropolisExtraBold, sans-serif;
        background-color: blue;
        margin-bottom: 20px; }
      .pricing-section .prices .price .price-body {
        padding: 50px 0; }
      .pricing-section .prices .price .price-title {
        color: #565656;
        font-family: MetropolisExtraBold, sans-serif;
        margin-bottom: 10px; }
      .pricing-section .prices .price .price-sub-title {
        color: #b4b5b6;
        font-family: MetropolisBold, sans-serif; }
      .pricing-section .prices .price .price-value {
        display: block;
        font-size: 50px;
        font-family: MetropolisSemiBold,sans-serif; }
      .pricing-section .prices .price .learn-more-link {
        font-family: MetropolisBold, sans-serif;
        padding: 5px 20px;
        background-color: #ff1315;
        color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }

.support-section {
  background-color: #064097;
  color: white; }
  .support-section .section-title {
    margin-top: 100px;
    font-family: MetropolisBlack, sans-serif;
    font-size: 30px; }
  .support-section .section-text {
    font-family: MetropolisRegular, sans-serif;
    font-size: 18px;
    margin-bottom: 100px; }
  .support-section .item-big {
    font-size: 14px;
    margin: 50px auto 0;
    width: 111px;
    padding: 15px;
    background-color: white;
    color: red;
    font-family: MetropolisExtraBold, sans-serif;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px; }
  .support-section .item {
    background-color: white;
    font-family: MetropolisExtraBold, sans-serif;
    font-size: 14px;
    margin-top: 50px;
    width: 85px;
    padding: 15px;
    color: black;
    margin-right: 90px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px; }

.footer-section {
  padding: 150px 0;
  background-color: #0b3068;
  color: #5e89cc;
  font-family: MetropolisRegular, sans-serif; }
  .footer-section ul a {
    color: #5e89cc;
    font-family: MetropolisRegular, sans-serif; }
  .footer-section ul a.menu-header {
    font-family: MetropolisExtraBold, sans-serif;
    color: white; }
  .footer-section ul li {
    margin-bottom: 30px; }
  .footer-section .copyright {
    font-family: MetropolisRegular, sans-serif;
    margin-top: 70px;
    color: white; }

@media (min-width: 1000px) and (max-width: 1400px) {
  .top-navigation .nav-container {
    padding: 0 20px; }
  .home-section .padding-box {
    padding: 150px 0; }
  .home-section .home-title {
    font-size: 60px; }
  .home-section .home-sub-title {
    font-size: 20px; }
  .home-section .home-proxies-btn {
    padding: 20px 45px;
    font-size: 15px; }
  .home-section .home-img {
    position: relative;
    max-width: 500px;
    margin-top: 40px; }
  .compare-section {
    padding: 70px 100px; }
    .compare-section .container {
      margin-top: 200px; }
  .benefits-section {
    padding: 75px 0px; }
    .benefits-section .section-title {
      font-size: 30px; }
    .benefits-section .benefit-item {
      padding: 15px; }
  .solution-section .section-title {
    font-size: 43px; }
  .solution-section .section-text {
    font-size: 17px; }
  .solution-section .card-header .accordion-toggle:after {
    font-size: 15px; }
  .location-section:before {
    background-position: -220px center; }
  .location-section .country-location .item-header {
    padding: 10px 25px; }
  .location-section .country-location .item-sub-header {
    padding: 9px 25px;
    font-size: 10px; }
  .location-section .country-location .item-body {
    padding: 25px;
    padding-bottom: 5px; }
    .location-section .country-location .item-body h5 {
      font-size: 15px; }
    .location-section .country-location .item-body h6 {
      margin-bottom: 10px; }
    .location-section .country-location .item-body ul {
      margin-left: 33px; }
      .location-section .country-location .item-body ul li {
        padding: 0; }
        .location-section .country-location .item-body ul li:first-child:before {
          width: 35px;
          padding: 6px;
          top: -6px;
          left: -52px; }
  .location-section .country-location .item-footer {
    grid-template-columns: 1fr;
    padding: 15px;
    padding-top: 0; }
    .location-section .country-location .item-footer button {
      grid-row: 2; }
  .location-section .section-title {
    font-size: 29px; }
  .location-section p {
    font-size: 12px; }
  .location-section ul {
    width: 100%; }
    .location-section ul li {
      margin-top: 15px; }
      .location-section ul li a {
        font-size: 11px;
        padding: 5px 19px;
        margin-right: 0px; }
  .pricing-section {
    padding: 100px 10px; }
    .pricing-section ul li a {
      padding: 30px 40px; }
  .footer-section {
    padding: 100px 0; }
    .footer-section ul li {
      margin-bottom: 25px; } }

@media (min-width: 1400px) and (max-width: 1800px) {
  .top-navigation .nav-container {
    padding: 0 7%; }
  .home-section .home-title {
    font-size: 60px; }
  .home-section .home-sub-title {
    font-size: 20px; }
  .home-section .home-proxies-btn {
    padding: 20px 45px;
    font-size: 15px; }
  .home-section .home-img {
    position: relative;
    max-width: 700px;
    margin-top: 140px; }
  .benefits-section {
    padding: 100px 0; }
    .benefits-section .section-title {
      font-size: 28px; }
  .location-section:before {
    background-position-x: -166px; }
  .location-section .country-location .item-header {
    font-size: 13px;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .location-section .country-location .item-sub-header {
    font-size: 10px;
    padding: 10px 15px; }
  .location-section .country-location .item-body {
    padding: 15px; }
    .location-section .country-location .item-body h5 {
      font-size: 13px;
      margin-bottom: 0; }
    .location-section .country-location .item-body h6 {
      margin-bottom: 0; }
    .location-section .country-location .item-body ul {
      margin: 0 0 0 27px; }
      .location-section .country-location .item-body ul li {
        padding: 0;
        font-size: 13px;
        margin-top: 15px; }
        .location-section .country-location .item-body ul li:first-child:before {
          width: 30px;
          padding: 5px;
          top: -5px;
          left: -42px; }
  .location-section .country-location .item-footer {
    padding: 15px; }
    .location-section .country-location .item-footer span {
      padding: 0; }
  .location-section .section-title {
    font-size: 33px; }
  .location-section p {
    font-size: 13px; }
  .location-section ul {
    width: 100%; }
    .location-section ul li a {
      font-size: 14px; } }
